<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:composition template="../template/template.xhtml">
        <ui:define name="body">
            
            <h:form>
            <h:outputStylesheet library="css" name="ecpregistry.css" />
            
            <div id="#{controller.style.header}">
                <h3>Extracorporeal Photopheresis (ECP) for the Management of Progressive Bronchiolitis Obliterans Syndrome (BOS) in Medicare-Eligible Recipients of Lung Allografts</h3>
                <h2>Refractory BOS Participant Eligibility Calculator</h2>
            </div>
            <br/>
            
            <!--<h:outputLabel for="selectSite" value="Site: " />
            <h:selectOneListbox id="selectSite" value="#{reCalcController.site}" size="1" converter="#{reCalcController.siteConverter}">
                <f:selectItems value="#{reCalcController.sites}" var="site" itemLabel="#{site.name}" itemValue="#{site}"/>
                <f:ajax listener="#{reCalcController.selectSiteListener}" render="selectParticipant evaluations :results"/>
            </h:selectOneListbox>
            &nbsp;&nbsp;-->
            <h:outputLabel for="selectParticipant" value="Participant: " />
            <h:selectOneListbox id="selectParticipant" value="#{reCalcController.participant}" size="1" converter="#{reCalcController.participantConverter}">
                <f:selectItems value="#{reCalcController.participants}" var="participant" itemLabel="#{participant.participantID}" itemValue="#{participant}"/>
                <f:ajax listener="#{reCalcController.selectParticipantListener}" render="evaluations :results"/>
            </h:selectOneListbox>
            &nbsp;&nbsp;
            <h:outputLabel for="referenceDate" value="Reference Date: " />
            <p:calendar id="referenceDate" class="calendar" value="#{reCalcController.referenceDate}" mode="popup" showOn="button" showButtonPanel="false" pattern="MM/dd/yyyy" navigator="true" size="10" converter="strictDateTimeConverter" />
            <br/>
            <!--<h:panelGrid id="evaluations">-->
            <h:panelGroup id="evaluations">
                <!-- forEach is part of JSTL, which is evaluated before the page loads, allowing us to generate unique IDs for the elements below to prevent duplication after submit -->
                <!-- note that JSTL variables use $ references instead of # references -->
                <c:forEach var="eval" items="${reCalcController.inputEvaluations}" varStatus="status">
                <div class="datefevfvc">
                    <div class="date">
                        <b><h:outputText value="Date "/></b>
                        <p:calendar id="dateOfFEV1${status.index}" value="#{eval.date}" required="" requiredMessage="#{msgs.dateOfFEV1}" mode="popup" showOn="button" showButtonPanel="true" pattern="MM/dd/yyyy" navigator="true" size="10" converter="strictDateTimeConverter"/>
                    </div>
                    <div class="fev">
                        <b>FEV1 </b>
                        <h:inputText id="fev1${status.index}" value="#{eval.fev1}" size="3" required="false" requiredMessage="#{msgs.fev1}" validatorMessage="FEV1 ranges between 0 and 6.0">
                            <f:validateLongRange minimum="0" maximum="6"/>
                        </h:inputText>
                        liters
                    </div>
                </div>
                <div class="clear"></div> 
                <div>
                    <p:message for="dateOfFEV1${status.index}" />
                    <p:message for="fev1${status.index}" />
                </div>
                </c:forEach>
                <p:messages showDetail="true"/>
            </h:panelGroup>
            <!--</h:panelGrid>-->
            <br/>
            <h:commandButton value="Reset" action="#{reCalcController.resetCalculatorAction}" />&nbsp;
            <h:commandButton value="More PFTs" action="#{reCalcController.moreEvalsAction}" />&nbsp;
            <h:commandButton value="Calculate" action="#{reCalcController.eligibilityCalcAction}" />

            </h:form>
            
            <h:panelGroup id="results">
                <p style="font-size:large; font-weight:bold;">
                    <h:outputText value="Eligibility Evaluation: #{reCalcController.calculator.studyEligibilityOutcome}" />
                    <h:outputText value="#{reCalcController.calculator.outcomeRule}" rendered="#{!reCalcController.calculator.studyEligible}"/><br/>
                </p>
            </h:panelGroup>

        </ui:define>
    </ui:composition>
    
</html>
