<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<ui:composition template="../formTemplate.xhtml">
    <ui:define name="form_title">

        <h:outputStylesheet library="css" name="ecpregistry.css"/>

        <div id="#{controller.style.header}">
            <h3>Extracorporeal Photopheresis (ECP) for the Management of Progressive Bronchiolitis Obliterans Syndrome (BOS) in Medicare-Eligible Recipients of Lung Allografts</h3>
            <h2>SERIOUS ADVERSE EVENT FORM</h2>
            <div>
                <h2><h:outputText value="#{controller.selectedEvent.label} - #{controller.selectedEvent.name}"/></h2>
                <h3><h:outputText value="#{controller.selectedForm.title}"/></h3>
            </div>
        </div>

                    <div>
                <h2>Please include the following types of source documents:</h2>
                <div>
                    <b>1. A Final Signed Serious Adverse Event Form must be uploaded</b><br/>
                    <b>2. Clinical Note, Admission or Progress Note, ED Note, Discharge Summary</b><br/>
                    <b>3. Autopsy Report</b><br/>
                </div>
            </div>
        
    </ui:define>

    <ui:define name="form_content">

        <div id="crfcenterparticipantidsdate">
            <div>
                Participant ID: <h:outputText value="#{aEController.participantID}"/>
            </div>
            <div>
                <br/>
                <div>Title of Adverse Event (AE)(Diagnosis):
                    <div style="background-color: white;"> <!-- Extra white div makes text readable when textarea is disabled -->
                        <p:inputTextarea id="title" value="#{aEController.adverseEventWorksheetSAEForm.aeTitle}"
                                         required="true" requiredMessage="#{msgs.saeTitle}" rows="2" maxlength="64"
                                         validator="#{aEController.validateTitle}"
                                         disabled="#{controller.adverseEventWorksheetSAEForm.locked}" class="saeTitle">
                            <f:ajax execute="title section1" render="section1" event="mouseout"/>
                        </p:inputTextarea>
                    </div>
                    <h:message for="title" style="color:red;"/>
                </div>
                <br/>
                <b>Current Date: </b>
                <p:calendar class="calendar" value="#{aEController.adverseEventWorksheetSAEForm.currentDate}"
                            mode="popup" showOn="button" showButtonPanel="false" pattern="MM/dd/yyyy" navigator="true"
                            size="10" disabled="#{controller.adverseEventWorksheetSAEForm.locked}"
                            converter="strictDateTimeConverter">
                    <p:ajax event="dateSelect" update="@this"/>
                </p:calendar>
            </div>
            <div>
                <h:panelGrid columns="4">
                    <b>Onset Date: </b>
                    <p:calendar class="calendar" value="#{aEController.adverseEventWorksheetSAEForm.onsetDate}"
                                mode="popup" showOn="button" showButtonPanel="false" pattern="MM/dd/yyyy"
                                navigator="true" size="10" disabled="#{controller.adverseEventWorksheetSAEForm.locked}"
                                converter="strictDateTimeConverter">

                        <p:ajax event="dateSelect" update="@this"/>
                    </p:calendar>
                    <b>&nbsp;&nbsp;Time: </b>
                    <p:calendar class="calendar" value="#{aEController.adverseEventWorksheetSAEForm.onsetTime}"
                                mode="popup" showOn="button" showButtonPanel="false" pattern="HH:mm" navigator="true"
                                timeOnly="true" size="8" disabled="#{controller.adverseEventWorksheetSAEForm.locked}">

                        <p:ajax event="dateSelect" update="@this"/>
                    </p:calendar>
                </h:panelGrid>
            </div>
            <div class="clear"></div> <!-- The clear style is needed to reset the floating column element in css so that other elements don't line up with the last column. -->
        </div>
        <br/>

        <h:panelGroup id="section1">
            <div class="sectionFirstHeading">
                <span class="star">&#9733;</span>SECTION I. BASIC INFORMATION FOR ADVERSE EVENT
            </div>
            <div>
                <strong>All questions in SECTION I are required. </strong>
            </div>
            <div class="question-radioButton">
                <h:panelGrid columns="3">
                    <h:outputText value="1. Was the event fatal? " style="display: block; width: 160px;"
                                  rendered="true"/>
                    <h:selectOneRadio id="ques1" required="true" requiredMessage="#{msgs.saeYesNoQuestions}"
                                      value="#{aEController.adverseEventWorksheetSAEForm.fatal}"
                                      style="display: inline-table;"
                                      disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO"/>
                        <f:ajax execute="@this" render="@form"/>
                        <f:ajax execute="section1" render="@form"/>

                    </h:selectOneRadio>
                    (If yes, submit a completed AE/SAE CRF within 24 hours of awareness of the event. Please follow your IRB SAE reporting guidelines.)
                </h:panelGrid>
                <h:message for="ques1" style="color: red;"/>
            </div>
            <div class="question-radioButton">
                <h:panelGrid columns="3">
                    <h:outputText value="2. Was the event life-threatening? " style="display: block; width: 240px;"
                                  rendered="true"/>
                    <h:selectOneRadio id="ques2" required="true" requiredMessage="#{msgs.saeYesNoQuestions}"
                                      value="#{aEController.adverseEventWorksheetSAEForm.lifeThreatening}"
                                      style="display: inline-table;"
                                      disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO"/>
                        <f:ajax execute="@this" render="@form"/>
                        <f:ajax execute="section1" render="@form"/>

                    </h:selectOneRadio>
                    (If yes, submit a completed AE/SAE CRF within 24 hours of awareness of the event. Please follow your IRB SAE reporting guidelines.)
                </h:panelGrid>
                <h:message for="ques2" style="color:red;"/>
            </div>
            <div class="question-inputTextAE">
                <b>3. Which of the following criteria apply to this event? </b>
            </div>
            <div class="answer-radioButton">
                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques3a" required="true" requiredMessage="#{msgs.saeYesNoQuestions}"
                                      class="yesnoanswers"
                                      value="#{aEController.adverseEventWorksheetSAEForm.seriousInjury}"
                                      style="display: inline-table;"
                                      disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO"/>
                        <f:ajax execute="@this" render="@form"/>
                        <f:ajax execute="section1" render="@form"/>

                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions"
                                   value="Resulted in persistent or significant disability/incapacity (serious injury)"/>
                </h:panelGrid>
                <h:message for="ques3a" style="color:red;"/>
            </div>
            <div class="answer-radioButton">
                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques3b" required="true" requiredMessage="#{msgs.saeYesNoQuestions}"
                                      class="yesnoanswers"
                                      value="#{aEController.adverseEventWorksheetSAEForm.hospitalAdmission}"
                                      style="display: inline-table;"
                                      disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO"/>
                        <f:ajax execute="@this" render="@form"/>
                        <f:ajax execute="section1" render="@form"/>

                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions"
                                   value="Resulted in hospital admission or prolongation of hospitalization"/>
                </h:panelGrid>
                <h:message for="ques3b" style="color:red;"/>
            </div>
            <div class="answer-radioButton">
                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques3c" required="true" requiredMessage="#{msgs.saeYesNoQuestions}"
                                      class="yesnoanswers"
                                      value="#{aEController.adverseEventWorksheetSAEForm.pregnancyAbortion}"
                                      style="display: inline-table;"
                                      disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO"/>
                        <f:ajax execute="@this" render="@form"/>
                        <f:ajax execute="section1" render="@form"/>

                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Resulted in pregnancy abortion"/>
                </h:panelGrid>
                <h:message for="ques3c" style="color:red;"/>
            </div>
            <div class="answer-radioButton">
                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques3d" required="true" requiredMessage="#{msgs.saeYesNoQuestions}"
                                      class="yesnoanswers"
                                      value="#{aEController.adverseEventWorksheetSAEForm.congenitalAnomaly}"
                                      style="display: inline-table;"
                                      disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO"/>
                        <f:ajax execute="@this" render="@form"/>
                        <f:ajax execute="section1" render="@form"/>
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions"
                                   value="Resulted in congenital anomaly or birth defect in baby born to subject"/>
                </h:panelGrid>
                <h:message for="ques3d" style="color:red;"/>
            </div>
            <div class="answer-radioButton">
                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques3e" required="true" requiredMessage="#{msgs.saeYesNoQuestions}"
                                      class="yesnoanswers"
                                      value="#{aEController.adverseEventWorksheetSAEForm.cancerNeonateInfant}"
                                      style="display: inline-table;"
                                      disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO"/>
                        <f:ajax execute="@this" render="@form"/>
                        <f:ajax execute="section1" render="@form"/>

                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Cancer in a neonate/infant born to female subject"/>
                </h:panelGrid>
                <h:message for="ques3e" style="color:red;"/>
            </div>
            <div class="answer-radioButton">
                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques3f" required="true" requiredMessage="#{msgs.saeYesNoQuestions}"
                                      class="yesnoanswers"
                                      value="#{aEController.adverseEventWorksheetSAEForm.aggressiveMedicalIntervention}"
                                      style="display: inline-table;"
                                      disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO"/>
                        <f:ajax execute="@this" render="@form"/>
                        <f:ajax execute="section1" render="@form"/>

                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions"
                                   value="Required aggressive medical/surgical intervention to prevent serious injury"/>
                </h:panelGrid>
                <h:message for="ques3f" style="color:red;"/>
            </div>
            <div class="answer-radioButton">
                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques3g" required="true" requiredMessage="#{msgs.saeYesNoQuestions}"
                                      class="yesnoanswers"
                                      value="#{aEController.adverseEventWorksheetSAEForm.seriouslyJeopardizedHealth}"
                                      style="display: inline-table;"
                                      disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO"/>
                        <f:ajax execute="@this" render="@form"/>
                        <f:ajax execute="section1" render="@form"/>

                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Seriously jeopardized subject's health"/>
                </h:panelGrid>
                <h:message for="ques3g" style="color:red;"/>
            </div>
            <div class="answer-radioButton">
                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques3h" required="true" requiredMessage="#{msgs.saeYesNoQuestions}"
                                      class="yesnoanswers"
                                      value="#{aEController.adverseEventWorksheetSAEForm.emergencyDepartmentVisit}"
                                      style="display: inline-table;"
                                      disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO"/>
                        <f:ajax execute="@this" render="@form"/>
                        <f:ajax execute="section1" render="@form"/>

                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions"
                                   value="Resulted in emergency department visit or activation of acute response team"/>
                </h:panelGrid>
                <h:message for="ques3h" style="color:red;"/>
            </div>
            <ui:insert name="dvtPeQuestions"/>


            <div class="question-radioButton">
                <h:panelGrid columns="3">
                    <b>4. Do ALL THREE of the following criteria apply to this event? </b>
                    <h:selectOneRadio id="ques4" required="true"
                                      value="#{aEController.adverseEventWorksheetSAEForm.isUnanticipatedProblem}"
                                      style="display: inline-table;"
                                      disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO"/>

                        <f:ajax execute="@this" render="@form"/>
                        <f:ajax execute="section1" render="@form"/>
                    </h:selectOneRadio>
                </h:panelGrid>
                <h:message for="ques4" style="color:red;"/>
            </div>
            <div class="paragraph-indent">
                <b>a. This event is unexpected (<ui:insert name='saeProtocolLink'/>); <u>and</u></b>
            </div>
            <div class="paragraph-indent">
                <b>b. This event is related or possibly related to study participation (<ui:insert
                        name='saeProtocolLink'/>); <u>and</u></b>
            </div>
            <div class="paragraph-indent">
                <b>c. This event suggests that the research places subjects or others at a greater risk of harm (physical, psychological, economic, or social harm) than was previously known or recognized.</b>
            </div>
            <h:panelGrid rendered="#{aEController.qualifyingSAE}">
                <div class="paragraph" style="color: red;">
                    <ui:insert name="qualifyingSAE"/>
                </div>
            </h:panelGrid>

            <h:panelGrid rendered="#{aEController.seriousAdverseEvent and !aEController.qualifyingSAE}">
                <div class="paragraph" style="color: red;">
                    <ui:insert name="isSAENotQualifying"/>
                </div>
            </h:panelGrid>
            <h:panelGrid
                    rendered="#{aEController.unanticipatedProblem and !aEController.qualifyingSAE and !aEController.seriousAdverseEvent}">
                <div class="paragraph" style="color: red;">
                    <p></p>
                    <b>This event is an Unanticipated Problem. Please
                        <u>immediately</u> complete Sections I, II and III of this form, submit the signed Case Report Form, upload the relevant source documents, and notify your CCC coordinator, and follow your local IRB's guidelines.</b>
                </div>

            </h:panelGrid>

            <h:panelGrid rendered="#{aEController.sectionOneAttestationRendered}">
                <div class="paragraph" style="color:red;">
                    <ui:insert name="sectionOneAttestation"/>
                </div>

                <div class="paragraph">
                    <b>Investigator Signature __________________________________ Date __________________</b>
                </div>
                <div class="paragraph">
                    <b>Name of Investigator __________________________________</b>
                </div>
            </h:panelGrid>

            <p></p>
        </h:panelGroup>

        <br/>
        <h:panelGroup id="section2">
            <f:ajax execute="@this" render="@this">
                <div class="sectionFirstHeading">
                    SECTION II. BASIC INFORMATION FOR SERIOUS ADVERSE EVENT OR UNANTICIPATED PROBLEM
                </div>
                <div>
                    <strong>Questions denoted with a <span class="star">&#9733;</span> are required. </strong>
                </div>
                <div class="question-radioButton">
                    <h:panelGrid columns="3">
                        <h:outputLabel class="star" value="&#9733;"/>
                        <b>Report Type: </b>
                        <h:selectOneRadio id="quesRT" class="radioReportType"
                                          value="#{aEController.adverseEventWorksheetSAEForm.reportType}"
                                          required="true"
                                          requiredMessage="#{msgs.saeReportType}"
                                          style="display: inline-table; padding-left: 10px;"
                                          disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                            <f:selectItem itemValue="initial" itemLabel="Initial"/>
                            <f:selectItem itemValue="followup" itemLabel="Follow-up"/>
                            <f:selectItem itemValue="final" itemLabel="Final"/>
                            <!--                            <f:ajax execute="section2" render="form" listener="#{aEController.updateListener}"/>-->
                            <!--                            <f:ajax execute="@form" render="form" listener="#{aEController.updateListener}"/>-->
                            <f:ajax execute="quesRTMsg" render="quesRTMsg"/>
                        </h:selectOneRadio>
                    </h:panelGrid>
                    <h:message id="quesRTMsg" for="quesRT" style="color:red;"/>
                </div>
                <div class="question-radioButton">
                    <h:panelGrid columns="2">
                        <b>Date of participant enrollment in study: </b>
                        <h:outputText value="#{controller.selectedParticipant.enrolledDate}" rendered="true"
                                      style="display: block; width:380px;">
                            <f:convertDateTime pattern="MM-dd-yyyy"/>
                        </h:outputText>

                    </h:panelGrid>

                </div>
                <div class="question-radioButton">
                    <h:panelGrid id="dateTimeSerious" columns="5">
                        <h:outputLabel class="star" value="&#9733;"/>
                        <b>Date event became serious (for SAE only): </b>
                        <p:calendar id="dateSerious" class="calendar"
                                    value="#{aEController.adverseEventWorksheetSAEForm.dateEventSerious}"
                                    required="true"
                                    requiredMessage="Date event became serious is required." mode="popup"
                                    showOn="button"
                                    showButtonPanel="false" pattern="MM/dd/yyyy" navigator="true" size="8"
                                    disabled="#{controller.adverseEventWorksheetSAEForm.locked}"
                                    converter="strictDateTimeConverter">
                            <p:ajax event="dateSelect" update="@this dateSeriousMsg"/>
                        </p:calendar>
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;Time: </b>
                        <p:calendar id="timeSerious" class="calendar"
                                    value="#{aEController.adverseEventWorksheetSAEForm.timeEventSerious}"
                                    required="true"
                                    requiredMessage="Time event became serious is required." mode="popup"
                                    showOn="button"
                                    showButtonPanel="false" pattern="HH:mm" navigator="true" timeOnly="true" size="8"
                                    disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                            <p:ajax event="dateSelect" update="@this timeSeriousMsg"/>
                        </p:calendar>
                    </h:panelGrid>
                    <h:message id="dateSeriousMsg" for="dateSerious" style="color:red;"/>
                    <p></p>
                    <h:message id="timeSeriousMsg" for="timeSerious" style="color:red;"/>
                </div>
                <div class="question-radioButtonSAE">
                    <h:panelGrid id="dateTimeKnown" columns="6">
                        <h:outputLabel class="star" value="&#9733;"/>
                        <h:outputText value="Date event became known to investigator or study team member: "
                                      rendered="true"
                                      style="display: block; width:290px;"/>
                        <p:calendar id="dateKnown" class="calendar"
                                    value="#{aEController.adverseEventWorksheetSAEForm.dateEventKnown}" required="true"
                                    requiredMessage="#{msgs.saeDate}" mode="popup" showOn="button"
                                    showButtonPanel="false"
                                    pattern="MM/dd/yyyy" navigator="true" size="7"
                                    disabled="#{controller.adverseEventWorksheetSAEForm.locked}"
                                    converter="strictDateTimeConverter">
                            <!--
                                                        If you want validation to work, use required="true" instead of the f:validateRequired
                                                        The following p:ajax event command beclow can be used to save the date as soon as you enter the date and leave the date box.
                                                        Another way to save not only the date but to save all dates and times for Section 2 is to add the following f:ajax command after each f:ajax execute="section3" command below in Section 3.

                            -->
                            <p:ajax event="dateSelect" update="@this dateKnownMsg"/>
                        </p:calendar>
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;Time: </b>
                        <p:calendar id="timeKnown" class="calendar"
                                    value="#{aEController.adverseEventWorksheetSAEForm.timeEventKnown}" required="true"
                                    requiredMessage="#{msgs.saeTime}" mode="popup" showOn="button"
                                    showButtonPanel="false"
                                    pattern="HH:mm" navigator="true" timeOnly="true" size="7"
                                    disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                            <p:ajax event="dateSelect" update="@this timeKnownMsg"/>
                        </p:calendar>
                    </h:panelGrid>
                    <h:message id="dateKnownMsg" for="dateKnown" style="color:red;"/>
                    <p></p>
                    <h:message id="timeKnownMsg" for="timeKnown" style="color:red;"/>
                </div>

                <div class="question-radioButtonSAE">
                    <h:panelGrid id="dateTimeCompletion" columns="7">
                        <h:outputLabel class="star" value="&#9733;"/>

                        <h:outputText value="Date of completion of last ECP procedure: " rendered="true"
                                      style="display: block; width:200px;"/>
                        <p:calendar id="dateLastECPProcedure" class="calendar"
                                    value="#{aEController.adverseEventWorksheetSAEForm.dateLastECPProcedure}"
                                    required="true" requiredMessage="#{msgs.saeDate}"
                                    disabled="#{aEController.adverseEventWorksheetSAEForm.ecpProcedureNotRelated == true or controller.adverseEventWorksheetSAEForm.locked}"
                                    mode="popup" showOn="button" showButtonPanel="false" pattern="MM/dd/yyyy"
                                    navigator="true" size="7" converter="strictDateTimeConverter">
                            <p:ajax event="dateSelect" update="@this dateLastECPProcedureMsg"/>
                        </p:calendar>
                        <b>&nbsp;&nbsp;Time: </b>
                        <p:calendar id="timeLastECPProcedure" class="calendar"
                                    value="#{aEController.adverseEventWorksheetSAEForm.timeLastECPProcedure}"
                                    required="true" requiredMessage="#{msgs.saeTime}"
                                    disabled="#{aEController.adverseEventWorksheetSAEForm.ecpProcedureNotRelated == true or controller.adverseEventWorksheetSAEForm.locked}"
                                    mode="popup" showOn="button" showButtonPanel="false" pattern="HH:mm"
                                    navigator="true"
                                    timeOnly="true" size="7">
                            <p:ajax event="dateSelect" update="@this timeLastECPProcedureMsg"/>
                        </p:calendar>
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;Not Applicable: </b>
                        <h:selectBooleanCheckbox id="quesNotRelated"
                                                 value="#{aEController.adverseEventWorksheetSAEForm.ecpProcedureNotRelated}"
                                                 disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                            <!-- The p:ajax statement below causes the date and time to immediately reset the values and disable the date/time calendars. -->
                            <f:ajax render="@form"/>
                        </h:selectBooleanCheckbox>
                    </h:panelGrid>
                    <h:message id="dateLastECPProcedureMsg" for="dateLastECPProcedure" style="color:red;"/>
                    <p></p>
                    <h:message id="timeLastECPProcedureMsg" for="timeLastECPProcedure" style="color:red;"/>
                </div>

                <div class="question-radioButtonSAE">
                    <h:panelGrid id="dateTimeResolved" columns="6">
                        <b>Date event resolved: </b>
                        <p:calendar class="calendar"
                                    value="#{aEController.adverseEventWorksheetSAEForm.dateEventResolved}"
                                    mode="popup" showOn="button" showButtonPanel="false" pattern="MM/dd/yyyy"
                                    navigator="true" size="8"
                                    disabled="#{controller.adverseEventWorksheetSAEForm.locked || aEController.adverseEventWorksheetSAEForm.eventOngoing == true}"
                                    converter="strictDateTimeConverter">
                            <p:ajax event="dateSelect" update="@this"/>
                        </p:calendar>
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;Time: </b>
                        <p:calendar class="calendar"
                                    value="#{aEController.adverseEventWorksheetSAEForm.timeEventResolved}"
                                    mode="popup" showOn="button" showButtonPanel="false" pattern="HH:mm"
                                    navigator="true"
                                    timeOnly="true" size="8"
                                    disabled="#{controller.adverseEventWorksheetSAEForm.locked || aEController.adverseEventWorksheetSAEForm.eventOngoing == true}">
                            <p:ajax event="dateSelect" update="@this"/>
                        </p:calendar>
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;Or ongoing: </b>
                        <h:selectBooleanCheckbox id="quesOngoing2"
                                                 value="#{aEController.adverseEventWorksheetSAEForm.eventOngoing}"
                                                 disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                            <!-- The p:ajax statement below causes the date and time to immediately reset the values and disable the date/time calendars. -->
                            <f:ajax render="@form"/>
                        </h:selectBooleanCheckbox>
                    </h:panelGrid>
                </div>
                <div class="question-radioButton">
                    <h:panelGrid columns="2">
                        <h:outputLabel value="1. Was this event fatal?"/>
                        <h:outputLabel id="eventFatalSection2" class=""
                                       value="#{aEController.adverseEventWorksheetSAEForm.fatalAnswer}"
                                       style="padding-left: 10px;"/>
                    </h:panelGrid>
                </div>
                <div class="question-radioButtonSAEindent">
                    <b>If YES: </b>
                    <h:panelGrid id="dateTimeOfDeath" columns="6">
                        <b>a. Date of death: </b>
                        <p:calendar id="dateOfDeathDate" class="calendar"
                                    value="#{aEController.adverseEventWorksheetSAEForm.dateOfDeath}" mode="popup"
                                    showOn="button" showButtonPanel="false" pattern="MM/dd/yyyy" navigator="true"
                                    size="8"
                                    disabled="#{aEController.adverseEventWorksheetSAEForm.fatal == 'false' or controller.adverseEventWorksheetSAEForm.locked or aEController.adverseEventWorksheetSAEForm.dateOfDeathUnknown == true}"
                                    converter="strictDateTimeConverter">
                            <p:ajax event="dateSelect" update="@this"/>
                        </p:calendar>
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;Time: </b>
                        <p:calendar id="dateOfDeathTime" class="calendar"
                                    value="#{aEController.adverseEventWorksheetSAEForm.timeOfDeath}" mode="popup"
                                    showOn="button" showButtonPanel="false" pattern="HH:mm" navigator="true"
                                    timeOnly="true"
                                    size="8"
                                    disabled="#{aEController.adverseEventWorksheetSAEForm.fatal == 'false' or controller.adverseEventWorksheetSAEForm.locked or aEController.adverseEventWorksheetSAEForm.dateOfDeathUnknown == true}">
                            <p:ajax event="dateSelect" update="@this"/>
                        </p:calendar>
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;Or unknown: </b>
                        <h:selectBooleanCheckbox id="q1a"
                                                 value="#{aEController.adverseEventWorksheetSAEForm.dateOfDeathUnknown}"
                                                 disabled="#{aEController.adverseEventWorksheetSAEForm.fatal == 'false' or controller.adverseEventWorksheetSAEForm.locked}">
                            <!-- The p:ajax statement below causes the date and time to immediately reset the values and disable the date/time calendars. -->
                            <f:ajax render="@form"/>
                        </h:selectBooleanCheckbox>
                    </h:panelGrid>
                </div>
                <div class="question-radioButtonSAEindentMore">
                    b. Cause of death: <h:inputText id="causeOfDeath"
                                                    value="#{aEController.adverseEventWorksheetSAEForm.causeOfDeath}"
                                                    size="70"
                                                    disabled="#{aEController.adverseEventWorksheetSAEForm.fatal == 'false' or controller.adverseEventWorksheetSAEForm.locked}"/>
                </div>
                <div class="question-radioButtonSAEindent">
                    <h:panelGrid columns="3">
                        <h:outputLabel value="c. Is a copy of autopsy report attached, if performed?"/>
                        <h:selectOneRadio id="autopsyReport" class="yesnonaanswers"
                                          value="#{aEController.adverseEventWorksheetSAEForm.autopsyPerformed}"
                                          style="display: inline-table;"
                                          disabled="#{aEController.adverseEventWorksheetSAEForm.fatal == 'false' or controller.adverseEventWorksheetSAEForm.locked}">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO"/>
                            <f:selectItem itemValue="na" itemLabel="N/A"/>
                        </h:selectOneRadio>
                    </h:panelGrid>
                </div>

                <div class="question-radioButton">
                    <h:panelGrid columns="3">
                        <h:outputLabel value="2. Was the event life-threatening?"/>
                        <h:outputLabel id="eventLifeThreateningSection2" class=""
                                       value="#{aEController.adverseEventWorksheetSAEForm.lifeThreateningAnswer}"
                                       style="padding-left: 10px;"/>
                    </h:panelGrid>
                </div>

                <div class="question-radioButton">
                    <h:panelGrid columns="3">
                        <h:outputLabel class="star" value="&#9733;"/>
                        <h:outputLabel value="3. Was this event related or possibly related to the use of ECP?"/>
                        <h:selectOneRadio id="s2ques3" class="yesnoanswers"
                                          value="#{aEController.adverseEventWorksheetSAEForm.wasEventRelatedToUseECP}"
                                          style="display: inline-table;"
                                          disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO"/>

                        </h:selectOneRadio>
                        <h:message for="s2ques3" style="color:red;"/>
                    </h:panelGrid>
                </div>
                <div class="question-radioButton">
                    <h:panelGrid columns="3">
                        <h:outputLabel class="star" value="&#9733;"/>
                        <h:outputLabel value="4. Did this event occur or begin during or within 6 hours after ECP?"/>
                        <h:selectOneRadio id="s2ques4" class="yesnoanswers"
                                          value="#{aEController.adverseEventWorksheetSAEForm.didEventOccurWithinECP}"
                                          style="display: inline-table;"
                                          disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO"/>

                        </h:selectOneRadio>
                    </h:panelGrid>
                    <h:message for="s2ques4" style="color:red;"/>
                </div>
                <div class="question-radioButton">
                    <h:panelGrid columns="3">
                        <h:outputLabel class="star" value="&#9733;"/>
                        <h:outputLabel
                                value="5. Was this event related or possibly related to a central venous catheter that was placed for the purpose of performing ECP?"/>
                        <h:selectOneRadio id="s2ques5" class="yesnoanswers"
                                          value="#{aEController.adverseEventWorksheetSAEForm.wasEventRelatedToCatheterUse}"
                                          style="display: inline-table;"
                                          disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO"/>

                        </h:selectOneRadio>
                    </h:panelGrid>
                    <h:message for="s2ques5" style="color:red;"/>
                </div>
                <div class="question-radioButton">
                    <h:panelGrid columns="4">
                        <h:outputLabel class="star" value="&#9733;"/>
                        <h:outputLabel
                                value="6. Was this event possibly, probably, definitely related to the use of methoxsalen: "/>
                        <h:selectOneRadio id="s2ques6a" class="yesnoanswers2"
                                          value="#{aEController.adverseEventWorksheetSAEForm.wasEventRelatedToMethoxsalenUse}"
                                          style="display: inline-table;"
                                          disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO"/>

                            <f:ajax execute="@this" render="s2ques6b"
                                    listener="#{aEController.clearMethoxsalenListener}"/>
                        </h:selectOneRadio>
                    </h:panelGrid>
                    <h:message for="s2ques6a" style="color:red;"/>
                    <h:panelGrid columns="1">
                        <h:selectOneRadio id="s2ques6b" class="radioReportMethoxsalen"
                                          value="#{aEController.adverseEventWorksheetSAEForm.methoxsalen}"
                                          required="#{aEController.adverseEventWorksheetSAEForm.wasEventRelatedToMethoxsalenUse == 'true'}"
                                          requiredMessage="#{msgs.saeRelatedToMethosalenUse}"
                                          disabled="#{aEController.adverseEventWorksheetSAEForm.methoxsalenUsed == false or controller.adverseEventWorksheetSAEForm.locked}"
                                          layout="lineDirection">
                            <f:selectItem itemValue="possibly" itemLabel="Possibly"/>
                            <f:selectItem itemValue="probably" itemLabel="Probably"/>
                            <f:selectItem itemValue="definitely" itemLabel="Definitely"/>
                            <c:if test="false">
                                <f:selectItem itemValue="" itemLabel="Not Applicable"/>
                            </c:if>

                            <f:ajax execute="s2ques6bMsg" render="s2ques6bMsg"/>
                        </h:selectOneRadio>
                    </h:panelGrid>
                    <h:message id="s2ques6bMsg" for="s2ques6b" style="color:red;"/>
                </div>
                <ui:insert name="relatedToParticipation"/>

                <h:panelGrid rendered="#{aEController.qualifyingSAE}">
                    <div class="paragraph" style="color:red;">
                        <p></p>
                        <ui:insert name="sectionIIQualifying"/>
                    </div>
                </h:panelGrid>

                <h:panelGrid rendered="#{ aEController.sectionTwoAttestationRendered}">
                    <div class="paragraph" style="color:red;">
                        <ui:insert name="sectionTwoAttestation"/>
                    </div>
                    <div class="paragraph">
                        <b>Investigator Signature __________________________________ Date __________________</b>
                    </div>
                    <div class="paragraph">
                        <b>Name of Investigator __________________________________</b>
                    </div>
                </h:panelGrid>
            </f:ajax>
        </h:panelGroup>

        <h:panelGroup id="section3">
            <f:ajax execute="@this" render="@this">
                <div class="sectionSecondHeading">
                    SECTION III. DETAILED INFORMATION FOR SERIOUS ADVERSE EVENT OR UNANTICIPATED PROBLEM
                </div>
                
                <div>
                    <strong>Questions denoted with a <span class="star">&#9733;</span> are required. </strong>
                </div>

                <div class="question-radioButton">
                    <h:panelGrid columns="1">

                        <div>
                            <h:panelGrid columns="2">
                                <h:outputLabel class="star" value="&#9733;"/>
                                <h:outputLabel
                                        value="A. Full chronological description - include body site/system, setting (e.g. hospital, home), specific signs and symptoms: "/>
                            </h:panelGrid>
                        </div>
                        <div>
                            <h:inputTextarea id="qA"
                                             value="#{aEController.adverseEventWorksheetSAEForm.fullChronologicalDescription}"
                                             required="true" requiredMessage="#{msgs.saeFullChronDescription}" cols="80"
                                             rows="14" disabled="#{controller.adverseEventWorksheetSAEForm.locked}">

                            </h:inputTextarea>
                        </div>
                    </h:panelGrid>
                    <h:message for="qA" style="color:red;"/>
                </div>


                <div class="question-radioButton">
                    <h:panelGrid columns="3">
                        <h:outputLabel class="star" value="&#9733;"/>
                        <h:outputLabel value="B. Expectedness (see Protocol Section 6.4)?"/>
                        <h:selectOneRadio id="qB" class="yesnoanswers-expectedness"
                                          value="#{aEController.adverseEventWorksheetSAEForm.expectedness}"
                                          required="true"
                                          requiredMessage="#{msgs.saeExpectedness}" style="display: inline-table;"
                                          disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                            <f:selectItem itemValue="Unexpected" itemLabel="Unexpected"/>
                            <f:selectItem itemValue="Expected" itemLabel="Expected"/>

                        </h:selectOneRadio>
                    </h:panelGrid>
                    <h:message for="qB" style="color:red;"/>
                </div>

                <div class="question-radioButtonSAE">
                    <h:panelGroup id="dateLastAdminMethoxsalen">
                        <h:panelGrid columns="3">
                            <h:outputLabel class="adminMethoxsalen"
                                           value="C. Date of last administration of methoxsalen before event: "/>
                            <h:outputLabel class="adminMethoxsalenCheckbox" value="Not Applicable: "/>
                            <h:selectBooleanCheckbox id="qC" class=""
                                                     value="#{aEController.adverseEventWorksheetSAEForm.notApplicable}"
                                                     style="display: inline-table;"
                                                     disabled="#{controller.adverseEventWorksheetSAEForm.locked}">

                                <f:ajax execute="@this" render="@form"/>
                            </h:selectBooleanCheckbox>
                        </h:panelGrid>
                        <h:panelGrid id="dateTimeLastAdminMethoxsalen" columns="4">
                            <h:outputLabel class="" value="Date: " style="padding-left: 20px;"/>
                            <p:calendar class="calendar"
                                        value="#{aEController.adverseEventWorksheetSAEForm.dateLastAdminMethoxsalen}"
                                        mode="popup" showOn="button" showButtonPanel="false" pattern="MM/dd/yyyy"
                                        navigator="true" size="8"
                                        disabled="#{aEController.adverseEventWorksheetSAEForm.notApplicable == true or controller.adverseEventWorksheetSAEForm.locked}"
                                        converter="strictDateTimeConverter">
                                <p:ajax event="dateSelect" update="@this"/>
                            </p:calendar>
                            <h:outputLabel class="" value="Time: " style="padding-left: 20px;"/>
                            <p:calendar class="calendar"
                                        value="#{aEController.adverseEventWorksheetSAEForm.timeLastAdminMethoxsalen}"
                                        mode="popup" showOn="button" showButtonPanel="false" pattern="HH:mm"
                                        navigator="true" timeOnly="true" size="8"
                                        disabled="#{aEController.adverseEventWorksheetSAEForm.notApplicable == true or controller.adverseEventWorksheetSAEForm.locked}"><p:ajax
                                    event="dateSelect" update="@this"/></p:calendar>
                        </h:panelGrid>
                        <h:panelGrid columns="2">
                            <h:outputLabel id="doseLastAdminMethoxsalen" class="" value="Dose: "
                                           style="padding-left: 20px;"/>
                            <h:inputText value="#{aEController.adverseEventWorksheetSAEForm.methoxsalenDose}"
                                         disabled="#{aEController.adverseEventWorksheetSAEForm.notApplicable == true or controller.adverseEventWorksheetSAEForm.locked}"
                                         size="40"/>
                        </h:panelGrid>
                    </h:panelGroup>
                </div>

                <h:panelGroup id="treatmentGiven">

                    <div class="question-radioButtonSAE">
                        <h:panelGrid columns="3">

                            <h:outputLabel class="treatmentGiven" value="D. Treatment Given (select all that apply): "/>
                            <h:outputLabel class="noTreatmentCheckbox" value="Not applicable"/>
                            <h:selectBooleanCheckbox id="s3qd1" class=""
                                                     value="#{aEController.adverseEventWorksheetSAEForm.noTreatment}"
                                                     disabled="#{controller.adverseEventWorksheetSAEForm.locked}"
                                                     style="display: inline-table;">

                                <f:ajax render="@form"/>

                            </h:selectBooleanCheckbox>

                        </h:panelGrid>
                    </div>
                    <div class="answer-radioButton">
                        <h:panelGrid columns="2">
                            <h:selectOneRadio id="qD2" class="yesnoanswers"
                                              value="#{aEController.adverseEventWorksheetSAEForm.nonInvasiveTreatment}"
                                              disabled="#{aEController.adverseEventWorksheetSAEForm.noTreatment == 'true' || controller.adverseEventWorksheetSAEForm.locked}"
                                              style="display: inline-table;">
                                <f:selectItem itemValue="true" itemLabel="YES"/>
                                <f:selectItem itemValue="false" itemLabel="NO"/>
                            </h:selectOneRadio>
                            <h:outputLabel class="yesno-questions"
                                           value="Non-invasive treatment (e.g. medical therapy#{noninvasiveTreatmentAdditions})"/>
                        </h:panelGrid>
                    </div>
                    <div class="answer-radioButton">
                        <h:panelGrid columns="2">
                            <h:selectOneRadio id="qD3" class="yesnoanswers"
                                              value="#{aEController.adverseEventWorksheetSAEForm.minimallyInvasiveTreatment}"
                                              disabled="#{aEController.adverseEventWorksheetSAEForm.noTreatment == 'true' || controller.adverseEventWorksheetSAEForm.locked}"
                                              style="display: inline-table;">
                                <f:selectItem itemValue="true" itemLabel="YES"/>
                                <f:selectItem itemValue="false" itemLabel="NO"/>
                            </h:selectOneRadio>
                            <h:outputLabel class="yesno-questions"
                                           value="Minimally-Invasive Treatment (e.g. catheter-based or endoscopic procedure#{minimalTreatmentAdditions})"/>
                        </h:panelGrid>
                    </div>
                    <div class="answer-radioButton">
                        <h:panelGrid columns="2">
                            <h:selectOneRadio id="qD4" class="yesnoanswers"
                                              value="#{aEController.adverseEventWorksheetSAEForm.openSurgery}"
                                              disabled="#{aEController.adverseEventWorksheetSAEForm.noTreatment == 'true' || controller.adverseEventWorksheetSAEForm.locked}"
                                              style="display: inline-table;">
                                <f:selectItem itemValue="true" itemLabel="YES"/>
                                <f:selectItem itemValue="false" itemLabel="NO"/>
                            </h:selectOneRadio>
                            <h:outputLabel class="yesno-questions" value="Open Surgery"/>
                        </h:panelGrid>
                    </div>
                    <ui:insert name="otherTreatmentGiven"/>

                </h:panelGroup>

                <div class="paragraph">
                    <h:panelGroup>
                        <h:panelGrid columns="2">
                            <b>Please specify the type of treatment given:</b>
                        </h:panelGrid>

                        <h:panelGrid columns="2">
                            <h:inputTextarea value="#{aEController.adverseEventWorksheetSAEForm.treatmentGivenSpecify}"
                                             disabled="#{controller.adverseEventWorksheetSAEForm.locked || aEController.adverseEventWorksheetSAEForm.noTreatment == 'true'}"
                                             cols="80"
                                             rows="7"/>
                        </h:panelGrid>
                    </h:panelGroup>
                </div>
                <div class="question-radioButton">
                    E. Relevant medical history:
                    <h:panelGrid columns="2">
                        <h:inputTextarea value="#{aEController.adverseEventWorksheetSAEForm.relevantMedicalHistory}"
                                         cols="80" rows="7"
                                         disabled="#{controller.adverseEventWorksheetSAEForm.locked}"/>
                    </h:panelGrid>
                </div>
                <div class="question-radioButton">
                    F. Relevant lab/imaging findings:
                    <h:panelGrid columns="2">
                        <h:inputTextarea value="#{aEController.adverseEventWorksheetSAEForm.relevantLabImageFindings}"
                                         cols="80" rows="5"
                                         disabled="#{controller.adverseEventWorksheetSAEForm.locked}"/>
                    </h:panelGrid>
                </div>

                <div class="question-radioButton">
                    <h:panelGrid columns="3">
                        <h:outputLabel class="star" value="&#9733;"/>
                        <h:outputLabel value="G. Outcome at time of report: "/>
                    </h:panelGrid>
                    <h:panelGrid columns="1">
                        <h:selectOneRadio id="qG" class="radioReportOutcome"
                                          value="#{aEController.adverseEventWorksheetSAEForm.outcome}"
                                          layout="lineDirection" required="true"
                                          requiredMessage="#{msgs.saeYesNoQuestions}"
                                          disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                            <f:selectItem itemValue="death" itemLabel="Death"/>
                            <f:selectItem itemValue="notYetRecovered" itemLabel="Not Yet Recovered"/>
                            <f:selectItem itemValue="recoveredWithSequalae" itemLabel="Recovered With Sequelae"/>
                            <f:selectItem itemValue="recoveredWithoutSequalae" itemLabel="Recovered Without Sequelae"/>

                        </h:selectOneRadio>
                    </h:panelGrid>
                    <h:message for="qG" style="color:red;"/>
                </div>
                <p></p>

                <div class="question-radioButton">
                    <b>H. Comments: </b>
                    <h:inputTextarea value="#{aEController.adverseEventWorksheetSAEForm.comment}" rows="2" cols="80"
                                     disabled="#{aEController.adverseEventWorksheetSAEForm.commentLocked}"
                                     style="margin-left: 17px;"/>
                </div>

                <div class="paragraph" style="color:red;">
                    <ui:insert name="afterSubmitting"/>
                </div>
                <div class="paragraph">
                    <b>Investigator Signature __________________________________ Date __________________</b>
                </div>
                <div class="paragraph">
                    <b>Name of Investigator __________________________________</b>
                </div>
            </f:ajax>
        </h:panelGroup>

    </ui:define>
</ui:composition>

</html>
