<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    
    <ui:composition template="./crossoverSafetyFormTemplate.xhtml">
        <ui:define name="preTreatmentAssessmentsProtocolLink">
            <a href="ecpRegistryProtocolV7.xhtml#section3-7" target="_blank">Protocol Section 3.7</a>
        </ui:define>
        
        <ui:define name="contraindicationProtocolLink">
            <a href="ecpRegistryProtocolV7.xhtml#section3-3" target="_blank">see Protocol Section 3.3</a>
        </ui:define>
    </ui:composition>
    
</html>
