<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="default.css"/>
        <h:outputStylesheet library="css" name="cssLayout.css"/>
        <title>ECP Registry</title>
        <style>
            .datatable-class {padding-top: 12px;}
            .header-class {border-top: 1px solid #BBBBBB; padding: 1em; margin-top: 12px;}
            .odd-row {background-color: #ece3a5}
            .even-row {background-color: #c2dfef}
            .odd-column {background-color: #ece3a5}
            .even-column {background-color: #dddddd}
            .center_content  <!-- background-color #dddddd is light gray found in the cssLayout.css file for all CRFs-->
        </style>
    </h:head>

    <h:body>
        <h:graphicImage name="images/ecpwebsiteheader.png" width="1100" height="110"/>
        <!--<img src="../resources/images/ecpwebsiteheader.png" alt="ECP Header Image with Logo not shown" width="1100" height="110"/>-->
<!--    
        Remove the comment tags to allow the TRAINING ECP REGISTRY WEBSITE!!!!! to appear when this code is placed onto the 
        ecpregtraining.wustl.edu (172.20.175.94) server so study coordinators can easily identify the ECP training website.
        Change the file ecpregistry.css #crfheader whitesmoke to red for training site or leave whitesmoke for production site.
-->
        
        <!--
        <div>
            <h:outputText value="ECP REFRACTORY BOS WEBSITE" style="font-size: 40px; color: blue;" />   
        </div>
        -->
        
        <div>
            <h:outputText value="#{controller.banner.text}" style="font-size: 40px; color: #{controller.banner.color};" />   
        </div>

        <div id="top" class="top">
<!--            <ui:insert name="top">Top</ui:insert>  -->
            <h:form id="mainMenu">
                <p:menubar autoDisplay="false">
                    <p:menuitem value="Home" action="#{controller.homeWordPressPageAction()}" style="color:black; border:1px solid black;" />
                    <!--<p:menuitem value="Check Enrollment/Arm Eligibility" action="#{calcController.checkEnrollStudyArmEligAction()}" style="color:black; border:1px solid black; margin-left:5px;" rendered="#{controller.renderEnrollmentButton()}" />-->
                    <p:menuitem value="Refractory BOS" action="#{controller.registryLoginAction()}" style="color:black; border:1px solid black; margin-left:5px;" />
                    <p:submenu label="Investigator Resources" styleClass="submenu" style="font:black; margin-left:5px;" rendered="#{controller.renderInvestigatorResources()}">
                        <p:menuitem value="Key Contacts" action="#{controller.keyContacts()}" style="color:black; margin-left:5px;" />
                        <p:submenu label="Protocol" styleClass="submenu" style="font:black; margin-left:5px;">
                            <p:menuitem value="ECP Registry Protocol Version 5.0 10-08-15" url="/docs/ECPRegistryProtocolVersion5.0-10-08-15ApprovedHRPO.pdf" style="color:black; margin-left:5px;" rendered="#{controller.renderV5Docs()}" target="_blank"/>
                            <p:menuitem value="ECP Registry Protocol Version 7.0 7-29-17" url="/docs/ECPRegistryProtocolVersion7.0-7-29-17ApprovedHRPO.pdf" style="color:black; margin-left:5px;" rendered="#{controller.renderV7Docs()}" target="_blank" />
                            <p:menuitem value="ECP Registry Protocol Version 7.1 2-28-18" url="/docs/ECP_Protocol_V7.1_2-28-18FinalHRPOApproved.pdf" style="color:black; margin-left:5px;" rendered="#{controller.renderV7_1Docs()}" target="_blank" />
                            <p:menuitem value="ECP Registry Protocol Version 8.0 2-24-20" url="/docs/ECP_Protocol_V8.0_2-24-20FinalHRPOApproved.pdf" style="color:black; margin-left:5px;" rendered="#{controller.renderV8Docs()}" target="_blank" />
                        </p:submenu>
                        <!--<p:menuitem value="CCC Manual of Operations" url="/docs/ECPRegistryCCCMOPVersion1-0FINALAPPROVED7-10-15.pdf" style="color:black; margin-left:5px;" target="_blank"/>-->
                        <p:menuitem value="DCC Manual of Operations" url="/docs/ECPRegistryDCCMOPVersion1-0FINALAPPROVED7-10-15.pdf" style="color:black; margin-left:5px;" rendered="#{controller.renderV5Docs()}" target="_blank"/>
                        <p:menuitem value="DCC Manual of Operations" url="/docs/ECPRegistryDCCMOPVersion7-0FINAL11-30-17.pdf" style="color:black; margin-left:5px;" rendered="#{controller.renderV7Docs()}" target="_blank"/>
                        <p:menuitem value="DCC Manual of Operations" url="/docs/ECPRefractoryBOSDataCollectionMOPProtocolVersion 7_1-Final.pdf" style="color:black; margin-left:5px;" rendered="#{controller.renderV7_1Docs()}" target="_blank"/>  
                        <p:submenu label="Training Modules" styleClass="submenu" style="font:black; margin-left:5px;">
                            <p:menuitem value="Summary of ECP Registry" url="/docs/SummaryOfECPRegistryTrainingForProtocolVersion7_1.pdf" style="color:black; margin-left:5px;" target="_blank" />
                            <p:menuitem value="User Access" url="/docs/ECPUserAccessTrainingforProtocolVersion7_1.pdf" style="color:black; margin-left:5px;" rendered="true" target="_blank"/>
                            <p:menuitem value="Enrollment and COE CRF" url="/docs/ECPRefractoryBOSEnrollmentAndCOECRFTrainingForProtocolVersion7_1.pdf" style="color:black; margin-left:5px;" rendered="true" target="_blank"/>
                            <p:menuitem value="Baseline Therapy CRF" url="/docs/ECPBaselineTherapyCRFTrainingforProtocolVersion7_1.pdf" style="color:black; margin-left:5px;" rendered="true" target="_blank"/>
                            <p:menuitem value="Demographics and Medical History CRF" url="/docs/ECPDemographicsMedicalHistoryCRFTrainingForProtocolVersion7_1.pdf" style="color:black; margin-left:5px;" rendered="true" target="_blank"/>
<!--                            <p:menuitem value="Treatment Arm CRFs" url="/docs/TrainingDataEntry_10-9-2014.doc" style="color:black; margin-left:5px;" rendered="false" target="_blank"/>
                            <p:menuitem value="Observational Arm CRFs" url="/docs/TrainingDataEntry_10-9-2014.doc" style="color:black; margin-left:5px;" rendered="false" target="_blank"/>
                            <p:menuitem value="Adding Events for CRFs" url="/docs/TrainingDataEntry_10-9-2014.doc" style="color:black; margin-left:5px;" rendered="false" target="_blank"/>
                            <p:menuitem value="Serious Adverse Events CRFs" url="/docs/TrainingDataEntry_10-9-2014.doc" style="color:black; margin-left:5px;" rendered="false" target="_blank"/>
                            <p:menuitem value="ECP Registry Attestation Form" url="/docs/ECPRegistryAttestationForm-6-18-2015.pdf" style="color:black; margin-left:5px;" target="_blank" />  -->
                            <p:menuitem value="ECP Registry Attestation Form" url="/docs/ECPRegistryElectronicDataCaptureTrainingV7_1-AttestationForm_2-28-18_FINAL.pdf" style="color:black; margin-left:5px;" target="_blank" />
                        </p:submenu>
                        <p:submenu label="CRFs - IRB Ver 4.0" styleClass="submenu" style="font:black; margin-left:5px;" rendered="#{controller.renderIRBVersion4CRFsFromMenuItems()}" >
<!--                        <p:submenu label="Case Report Forms" styleClass="submenu" style="font:black; margin-left:5px;" > -->
                            <p:menuitem value="Confirmation Of Eligibility CRF" url="/docs/COECRFVer1.1-9-23-14.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Demographics CRF" url="/docs/DemographicsCRFVer1.1-9-23-14.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Baseline Therapy CRF" url="/docs/BaselineCRFVer1.1-9-23-14.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="ECP Treatment Visit CRF" url="/docs/ECPTreatmentVisitCRFVer1.1-9-23-14.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Pulmonary Function Testing CRF" url="/docs/PFTCRFVer1.1-9-23-14.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Change In Therapy CRF" url="/docs/ChangeinTherapyCRFVer1.1-9-23-14.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Observational Arm Pulmonary Evaluation Log" url="/docs/ObvArmPulmonaryEvalLogCRFVer1.1-9-23-14.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Crossover Safety Check CRF" url="/docs/CrossoverSafetyCheckCRFVer1.1-9-23-14.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Adverse Event Worksheet SAE CRF" url="/docs/AE-SAEWorksheetVer1.1-9-23-14.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="End Of Study CRF" url="/docs/EndofStudyCRFVer1.1-9-23-14.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                        </p:submenu>
                        <p:submenu label="CRFs - IRB Ver 5.0" styleClass="submenu" style="font:black; margin-left:5px;" rendered="#{controller.renderIRBVersion5CRFsFromMenuItems()}" >
<!--                        <p:submenu label="Case Report Forms" styleClass="submenu" style="font:black; margin-left:5px;" > -->
                            <p:menuitem value="Confirmation Of Eligibility CRF" url="/docs/COECRFVer5.0-10-08-15.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Demographics CRF" url="/docs/DemographicsCRFVer5.0-10-08-15.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Baseline Therapy CRF" url="/docs/BaselineCRFVer5.0-10-08-15.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="ECP Treatment Visit CRF" url="/docs/ECPTreatmentVisitCRFVer5.0-10-08-15.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Pulmonary Function Testing CRF" url="/docs/PFTCRFVer5.0-10-08-15.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Change In Therapy CRF" url="/docs/ChangeinTherapyCRFVer5.0-10-08-15.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Observational Arm Pulmonary Evaluation Log" url="/docs/ObvArmPulmonaryEvalLogCRFVer5.0-10-08-15.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Crossover Safety Check CRF" url="/docs/CrossoverSafetyCheckCRFVer5.0-10-08-15.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Adverse Event Worksheet SAE CRF" url="/docs/AE-SAEWorksheetVer5.0-10-08-15.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="End Of Study CRF" url="/docs/EndofStudyCRFVer5.0-10-08-15.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                        </p:submenu>
                        <p:submenu label="CRFs - IRB Ver 7.0" styleClass="submenu" style="font:black; margin-left:5px;" rendered="#{controller.renderIRBVersion7CRFsFromMenuItems()}" >
<!--                        <p:submenu label="Case Report Forms" styleClass="submenu" style="font:black; margin-left:5px;" > -->
                            <p:menuitem value="Confirmation Of Eligibility CRF" url="/docs/RBOS-COE-CRF-Ver7.0-07-29-2017.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Demographics CRF" url="/docs/RBOS-Demographics-CRF-Ver7.0-07-29-2017.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Baseline Therapy CRF" url="/docs/RBOS-BaselineTherapy-CRF-Ver7.0-07-29-2017.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="ECP Treatment Visit CRF" url="/docs/RBOS-ECPTreatmentVisit-CRF-Ver7.0-07-29-2017.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Pulmonary Function Testing CRF" url="/docs/RBOS-PFT-CRF-Ver7.0-07-29-2017.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Change In Therapy CRF" url="/docs/RBOS-ChangeInTherapy-CRF-Ver7.0-07-29-2017.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Observational Arm Pulmonary Evaluation Log" url="/docs/RBOS-ObservationPulmEvalLog-CRF-Ver7.0-07-29-2017.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Crossover Safety Check CRF" url="/docs/RBOS-CrossoverSafetyCheck-CRF-Ver7.0-07-29-17.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Quality of Life CRF" url="/docs/RBOS-QualityOfLife-CRF-Ver7.0-07-29-2017.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Adverse Event Worksheet SAE CRF" url="/docs/RBOS-AEWorksheet-SAE-CRF-Ver7.0-07-29-2017.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="End Of Study CRF" url="/docs/RBOS-EndOfStudy-CRF-Ver7.0-07-29-2017.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                        </p:submenu>
                        <p:submenu label="CRFs - IRB Ver 7.1" styleClass="submenu" style="font:black; margin-left:5px;" rendered="#{controller.renderIRBVersion7_1CRFsFromMenuItems()}" >
                            <p:menuitem value="Confirmation of Eligibility CRF" url="/docs/RBOS-ConfirmationOfEligibility-CRF-Ver7.1-02-28-2018.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Demographics CRF" url="/docs/RBOS-Demographics-CRF-Ver7.1-02-28-2018.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Baseline Therapy CRF" url="/docs/RBOS-BaselineTherapy-CRF-Ver7.1-02-28-2018.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="ECP Treatment Visit CRF" url="/docs/RBOS-ECPTreatmentVisit-CRF-Ver7.1-02-28-2018.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Pulmonary Function Testing CRF" url="/docs/RBOS-PulmonaryFunctionTest-CRF-Ver7.1-02-28-2018.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Change In Therapy CRF" url="/docs/RBOS-ChangeInTherapy-CRF-Ver7.1-02-28-2018.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Observational Arm Pulmonary Evaluation Log" url="/docs/RBOS-ObservationPulmonaryEvalutionLog-CRF-Ver7.1-02-28-2018.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Crossover Safety Check CRF" url="/docs/RBOS-CrossoverSafetyCheck-CRF-Ver7.1-02-28-2018.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Adverse Event Worksheet SAE CRF" url="/docs/RBOS-SeriousAdverseEvent-CRF-Ver7.1-02-28-2018.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Annual Follow Up CRF" url="/docs/RBOS-AnnualFollowup-CRF-Ver7.1-02-28-2018.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="End Of Study CRF" url="/docs/RBOS-EndOfStudy-CRF-Ver7.1-02-28-2018.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                        </p:submenu>
                        <p:submenu label="CRFs - IRB Ver 8.0" styleClass="submenu" style="font:black; margin-left:5px;" rendered="#{controller.renderV8Docs()}" >
                            <p:menuitem value="Confirmation of Eligibility CRF" url="/docs/RBOS-ConfirmationOfEligibility-CRF-Ver8.0-02-04-2020.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Demographics CRF" url="/docs/RBOS-Demographics-CRF-Ver8.0-02-04-2020.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Baseline Therapy CRF" url="/docs/RBOS-BaselineTherapy-CRF-Ver8.0-02-04-2020.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="ECP Treatment Visit CRF" url="/docs/RBOS-ECPTreatmentVisit-CRF-Ver8.0-02-04-2020.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Pulmonary Function Testing CRF" url="/docs/RBOS-PulmonaryFunctionTest-CRF-Ver8.0-02-04-2020.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Change In Therapy CRF" url="/docs/RBOS-ChangeInTherapy-CRF-Ver8.0-02-04-2020.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Observational Arm Pulmonary Evaluation Log" url="/docs/RBOS-ObservationPulmonaryEvaluationLog-CRF-Ver8.0-02-04-2020.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Crossover Safety Check CRF" url="/docs/RBOS-CrossoverSafetyCheck-CRF-Ver8.0-02-04-2020.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Adverse Event Worksheet SAE CRF" url="/docs/RBOS-SeriousAdverseEvent-CRF-Ver8.0-02-04-2020.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Current Therapy CRF" url="/docs/RBOS-CurrentTherapy-CRF-Ver8.0-02-04-2020.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Annual Follow Up Year Two CRF" url="/docs/RBOS-AnnualFollowUpYearTwo-CRF-Ver8.0-02-04-2020.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Annual Follow Up Year Three CRF" url="/docs/RBOS-AnnualFollowUpYearThree-CRF-Ver8.0-02-04-2020.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Annual Follow Up Year Four CRF" url="/docs/RBOS-AnnualFollowUpYearFour-CRF-Ver8.0-02-04-2020.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Annual Follow Up Year Five CRF" url="/docs/RBOS-AnnualFollowUpYearFive-CRF-Ver8.0-02-04-2020.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="V4&amp;5 Participant Follow Up CRF" url="/docs/RBOS-V4-5ParticipantFollowUp-CRF-Ver8.0-02-04-2020.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="End Of Study CRF" url="/docs/RBOS-EndOfStudy-CRF-Ver8.0-02-04-2020.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="PI Approved CRF" url="/docs/RBOS-PI Approved-CRF-Ver8.0-02-04-2020.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                        </p:submenu>
<!--                        <p:menuitem value="Newsletters" action="#{controller.newsletters()}" style="color:black; margin-left:5px;" /> -->
<!--                        <p:menuitem value="Screening and Enrollment" url="/docs/ScreeningandEnrollment_10-9-2014.doc" style="color:black; margin-left:5px;" /> -->
                        <p:submenu label="Site Start Up" styleClass="submenu" style="font:black; margin-left:5px;">
                            <p:menuitem value="ECP Registry Investigator Signature Page" url="/docs/InvestigatorSignaturePageECPProtocol_V7.1_2-28-18.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="ECP Site Delegation of Authority Log" url="/docs/ECPSiteDelegationofAuthorityLog_V7.1_2-28-18.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="ECP Registry Site Regulatory Binder Table of Contents Guide" url="/docs/SiteRegulatoryBinderTableofContentsGuideforECPRegistry-1-23-15.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="Note To File ECP Refractory BOS" url="/docs/NoteToFileECPRefractoryBOS.doc" style="color:black; margin-left:5px;" target="_blank"/>
                        </p:submenu>
                        <p:submenu label="Quality of Life" styleClass="submenu" style="font:black; margin-left:5px;" rendered="#{controller.renderV8Docs()}" >
                            <p:menuitem value="QOL Questionnaire" url="/docs/IRB_Approved_ECP_QOL_Paper_Sites_v8.0_2-4-2020.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="QOL Presentation" url="/docs/ECPQOLTraining PowerPoint_V8.0_2-22-2021_FINAL.pptx" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="QOL PowerPoint Training Attestation Form" url="/docs/ECPQOLTrainingAttestationV8.0_2-4-2020-Template_2-22-2021FINAL.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                        </p:submenu>
                        <p:submenu label="Quality of Life" styleClass="submenu" style="font:black; margin-left:5px;" rendered="#{controller.renderV7_1Docs()}" >
                            <p:menuitem value="QOL Questionnaire" url="/docs/IRB_Approved_ECP_QOL_Paper_Sites_v8.0_2-4-2020.pdf" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="QOL Presentation" url="/docs/ECPQOLTraining_PowerPoint_V7.1_Rev2-22-2021-FINAL.pptx" style="color:black; margin-left:5px;" target="_blank"/>
                            <p:menuitem value="QOL PowerPoint Training Attestation Form" url="/docs/ECPQOLTrainingAttestation V7.1_Rev2-22-2021_TEMPLATE_FINAL.doc" style="color:black; margin-left:5px;" target="_blank"/>
                        </p:submenu>
                        <p:submenu label="Advanced View" styleClass="submenu" style="font:black; margin-left:5px;">
                            <p:menuitem value="Advanced View Training Presentation" url="/docs/ECPTrial_New_Advanced_View_Training_3-12-21.pptx" style="color:black; margin-left:5px;" target="_blank"/>
                        </p:submenu>
                        <p:menuitem value="ECP Source Document Labels - Requires AVERY 5161 Labels" url="/docs/SourcedocumentlabelsECPRefractoryBOS_V7.1_2-28-18.doc" style="color:black; margin-left:5px;" target="_blank"/>
                        <p:menuitem value="Eligibility Calculator" action="#{controller.eligibilityCalculator()}" style="color:black; margin-left:5px;" />
<!--                        <p:menuitem value="ECP Source Document Labels - Requires AVERY 5161 Labels" url="/docs/SourcedocumentlabelsECPRegistry5-28-15.doc" style="color:black; margin-left:5px;" target="_blank"/> -->
<!--                        <p:menuitem value="Frequently Asked Questions" url="/docs/FrequentlyAskedQuestions_10-9-2014.doc" style="color:black; margin-left:5px;" /> -->
<!--                        <p:menuitem value="Reminders" url="/docs/Reminders_10-9-2014.doc" style="color:black; margin-left:5px;" /> -->
<!--                        <p:menuitem value="Methoxsalen Insert" url="/docs/MethoxsalenInsert_10-9-2014.doc" style="color:black; margin-left:5px;" /> -->
                    </p:submenu>
                    <p:submenu label="ECP Reports" styleClass="submenu" style="color:black; margin-left:5px;" rendered="#{controller.renderECPReportMenuItems()}">
                        <!-- The html for a report listed below is created when the method (ie. TotalAccuralReportAction()) within the reportsController is executed. --> 
                        <p:menuitem value="Total Accrual Report" action="#{reportsController.TotalAccrualReportAction()}" style="color:black; margin-left:5px;" target="_blank" rendered="#{controller.renderECPReportMenuItems()}"/>
                        <p:menuitem value="Monthly Accrual Report" action="#{reportsController.MonthlyAccrualReportAction()}" style="color:black; margin-left:5px;" target="_blank" rendered="#{controller.renderECPReportMenuItems()}"/>
                        <p:menuitem value="Monthly Site CRF Status Report" action="#{reportsController.MonthlySiteCRFStatusReportAction()}" style="color:black; margin-left:5px;" target="_blank" rendered="#{controller.renderECPReportMenuItems()}"/>
                        <p:menuitem value="Current CRF Status Report" action="#{reportsController.CurrentCRFStatusReportAction()}" style="color:black; margin-left:5px;" target="_blank" rendered="#{controller.renderECPReportMenuItems()}"/>
                        <p:menuitem value="Enrollment Projection Report" action="#{reportsController.EnrollmentProjectionReportAction()}" style="color:black; margin-left:5px;" target="_blank" rendered="#{controller.renderECPReportMenuItems()}"/>
                        <p:menuitem value="Therakos Report" action="#{reportsController.TherakosReportAction()}" style="color:black; margin-left:5px;" target="_blank" rendered="#{controller.renderECPReportMenuItems()}"/>
                        <p:menuitem value="Slope Calculator" action="#{controller.slopeCalculator()}" style="color:black; margin-left:5px;" rendered="#{controller.renderECPReportMenuItems()}" />
                        <p:menuitem value="Crossover Calculator" action="#{controller.crossoverCalculator()}" style="color:black; margin-left:5px;" rendered="#{controller.renderECPReportMenuItems()}" />                     
                        <!--
                        <p:menuitem value="Quarterly Milestone Payment Report" url="" style="color:black; margin-left:5px;" target="_blank" rendered="#{controller.renderECPReportMenuItems()}"/>
                        <p:menuitem value="Monthly Data Deficiency Report" url="" style="color:black; margin-left:5px;" target="_blank" rendered="#{controller.renderECPReportMenuItems()}"/>
                        <p:menuitem value="Weekly SAE Update Report" url="" style="color:black; margin-left:5px;" target="_blank" rendered="#{controller.renderECPReportMenuItems()}"/>
-->
                    </p:submenu>
                    <p:submenu label="Help" styleClass="submenu" style="color:black; margin-left:5px;">
<!--                        <p:menuitem value="Help Desk" url="/docs/Helpdesk-04-02-2015.pdf" style="color:black; margin-left:5px;" target="_blank"/> -->
                        <p:menuitem value="Support Staff" action="#{controller.supportStaff()}" style="color:black; margin-left:5px;" target="_blank"/>
<!--                        <p:menuitem value="Hours of Operation" url="/docs/HoursOfOperation-04-02-2015.pdf" style="color:black; margin-left:5px;" target="_blank"/> -->
<!--                        <p:menuitem value="Holiday Schedule" url="/docs/HolidaySchedule-04-02-2015.pdf" style="color:black; margin-left:5px;" target="_blank"/> -->
                        <p:menuitem value="About" action="#{controller.about()}" style="color:black; margin-left:5px;" target="_blank"/>
                    </p:submenu>
                </p:menubar>
            </h:form>
        </div>

        <div id="content" class="center_content">
            <div id="login" style="clear:both; float:right">
                <h:form id="loginForm">
                    <h:outputLabel value="User name: " for="username" />
                    <h:outputText id="username" value="#{securityManager.userName} "/>
                    <h:commandButton value="logout" action="#{securityManager.logoutAction()}"/>
                </h:form>
            </div>
            
            <ui:insert name="body">Content</ui:insert>
        </div>

    </h:body>

</html>
