<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<ui:composition template="./template/adverseEventFormTemplate.xhtml">
    <ui:param name="noninvasiveTreatmentAdditions" value=", such as anticoagulation"/>
    <ui:param name="minimalTreatmentAdditions" value=", filter placement"/>

    <ui:define name="saeProtocolLink">
        <a href="ecpRegistryProtocolV7_1.xhtml#section6-4" target="_blank">see Protocol Section 6.4</a>
    </ui:define>

    <ui:define name="sectionOneAttestation">
        <div style="color: red;"><b>This event does
            <u>not</u> meet the ECP protocol reporting guidelines to the CCC at Washington University in STL. Print, sign, date, and file this worksheet in your patient binder. Follow your local IRB’s reporting guidelines.</b>
        </div>
    </ui:define>

    <ui:define name="qualifyingSAE">
        <div style="color: red;"><b>This is a Serious Adverse Event (SAE). Please complete Sections I, II and III and submit a completed AE/SAE CRF within 24 hours of awareness of the event. Please upload the relevant de-identified source documents. Please upload the signed and dated SAE CRF if FINAL. Please follow your IRB SAE reporting guidelines.</b>
        </div>
    </ui:define>

    <ui:define name="isSAENotQualifying">
        <div style="color: red;"><b>This is a Serious Adverse Event (SAE). Please complete Sections I and II
            <u>immediately</u>. Please follow your local IRB’s guidelines for SAE reporting. (Depending on the responses in Section II, Section III may also need to be completed.)</b>
        </div>
    </ui:define>

    <ui:define name="sectionIIQualifying">
        <div style="color: red;">
            <b>This is a Serious Adverse Event (SAE). Please complete Section III and submit a completed AE/SAE CRF within 24 hours of awareness of the event. Please upload the relevant de-identified source documents. Please upload the signed and dated SAE CRF if FINAL. Please follow your IRB SAE reporting guidelines.</b>
        </div>
    </ui:define>

    <ui:define name="sectionTwoAttestation">
        <div style="color: red;"><b>This event is a Serious Adverse Event (SAE) but does
            <u>NOT</u> meet the ECP protocol reporting guidelines to the CCC at Washington University in STL. Please print, sign, date, and file this worksheet in your patient binder. Follow your local IRB’s reporting guidelines.</b>
        </div>
    </ui:define>

    <ui:define name="afterSubmitting">
        <div style="color: red;">
            <b>
                1. Please follow your IRB Policy on SAE Reporting<br/>
                2. Please upload relevant de-identified source documents<br/>
                3. The <u>FINAL</u> SAE must be signed and dated by the PI or Co-Investigator<br/>
                4. Please upload the signed <u>FINAL</u> SAE<br/>
                5. Contact the CCC for questions
            </b>
        </div>
    </ui:define>

    <ui:define name="dvtPeQuestions">
        <div class="answer-radioButton">
            <h:panelGrid columns="2">
                <h:selectOneRadio id="ques3i" required="true" requiredMessage="#{msgs.saeYesNoQuestions}"
                                  class="yesnoanswers"
                                  value="#{aEController.adverseEventWorksheetSAEForm.symptomaticPulmonaryEmbolism}"
                                  style="display: inline-table;"
                                  disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                    <f:selectItem itemValue="true" itemLabel="YES"/>
                    <f:selectItem itemValue="false" itemLabel="NO"/>
                    <f:ajax execute="@this" render="@form"/>
                    <f:ajax execute="section1" render="@form"/>

                </h:selectOneRadio>
                <h:outputLabel class="yesno-questions" value="Was this event a symptomatic pulmonary embolism (PE)?"/>
            </h:panelGrid>
            <h:message for="ques3i" style="color:red;"/>
        </div>
        <div class="answer-radioButton">
            <h:panelGrid columns="2">
                <h:selectOneRadio id="ques3j" required="true" requiredMessage="#{msgs.saeYesNoQuestions}"
                                  class="yesnoanswers"
                                  value="#{aEController.adverseEventWorksheetSAEForm.deepVeinThrombosis}"
                                  style="display: inline-table;"
                                  disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                    <f:selectItem itemValue="true" itemLabel="YES"/>
                    <f:selectItem itemValue="false" itemLabel="NO"/>
                    <f:ajax execute="@this" render="@form"/>
                    <f:ajax render="ques3k" resetValues="true"/>
                    <f:ajax execute="ques3k" render="@form"/>
                    <f:ajax execute="section1" render="@form"/>

                </h:selectOneRadio>
                <h:outputLabel class="yesno-questions"
                               value="Was this event a symptomatic deep vein thrombosis (DVT)?"/>
            </h:panelGrid>
            <h:message id="ques3jMsg" for="ques3j" style="color:red;"/>
        </div>

        <div class="question-radioButton">
            <h:panelGrid columns="1">
                <h:outputLabel value="If yes, location of DVT:"/>
            </h:panelGrid>
            <h:panelGrid columns="1">
                <h:selectOneRadio id="ques3k" requiredMessage="#{msgs.saeDVT}" class="radioReportOutcome"
                                  value="#{aEController.adverseEventWorksheetSAEForm.dvtLocation}"
                                  layout="pageDirection"
                                  required="#{aEController.adverseEventWorksheetSAEForm.deepVeinThrombosis == 'true'}"
                                  disabled="#{aEController.adverseEventWorksheetSAEForm.deepVeinThrombosis != 'true' || controller.adverseEventWorksheetSAEForm.locked}">
                    <f:selectItem itemValue="calfDVT" itemLabel="A. Calf DVT"/>
                    <f:selectItem itemValue="proximalDVT" itemLabel="B. Proximal DVT (Iliac, Femoral, Common Femoral)"/>
                    <f:selectItem itemValue="upperExtremityDVT" itemLabel="C. Upper Extremity"/>
                    <f:selectItem itemValue="centralCavalDVT" itemLabel="D. Central/Caval"/>

                    <f:ajax execute="@this" render="@form"/>
                    <f:ajax execute="section1" render="@form"/>
                </h:selectOneRadio>
            </h:panelGrid>
            <h:message for="ques3k" style="color:red;"/>
        </div>
    </ui:define>

    <ui:define name="relatedToParticipation">
        <div class="question-radioButton">
            <h:panelGrid columns="3">
                <h:outputLabel class="star" value="&#9733;"/>
                <h:outputLabel
                        value="7. Was this event related or possibly related to participation in the research? (see Protocol section 6.4)"/>
                <h:selectOneRadio id="s2ques7" class="yesnoanswers"
                                  value="#{aEController.adverseEventWorksheetSAEForm.relatedToResearch}"
                                  style="display: inline-table;"
                                  disabled="#{controller.adverseEventWorksheetSAEForm.locked}">
                    <f:selectItem itemValue="true" itemLabel="YES"/>
                    <f:selectItem itemValue="false" itemLabel="NO"/>

                </h:selectOneRadio>
            </h:panelGrid>
            <h:message for="s2ques5" style="color:red;"/>
        </div>
    </ui:define>

    <ui:define name="otherTreatmentGiven">
        <div class="answer-radioButton">
            <h:panelGrid columns="2">
                <h:selectOneRadio id="qD5" class="yesnoanswers"
                                  value="#{aEController.adverseEventWorksheetSAEForm.otherTreatmentGiven}"
                                  style="display: inline-table;"
                                  disabled="#{aEController.adverseEventWorksheetSAEForm.noTreatment == 'true' || controller.adverseEventWorksheetSAEForm.locked}">
                    <f:selectItem itemValue="true" itemLabel="YES"/>
                    <f:selectItem itemValue="false" itemLabel="NO"/>
                </h:selectOneRadio>
                <h:outputLabel class="yesno-questions" value="Other"/>
            </h:panelGrid>
        </div>
    </ui:define>
</ui:composition>
</html>
