<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:composition template="./template/adverseEventWorksheetTemplate.xhtml">
        <ui:define name="saeProtocolLink">
            <a href="ecpRegistryProtocol.xhtml#section6-4" target="_blank">see Protocol Section 6.4</a>
        </ui:define>
        
        <ui:define name="sectionOneAttestation">
            <div style="color: red;"><b>You do <u>not</u> need to report this event to Washington University.  Print this page, sign and date it, file in your patient binder, and follow your local IRB’s guidelines.</b></div>
        </ui:define>
        
        <ui:define name="qualifyingSAE">
            <div style="color: red;"><b>This event is a Serious Adverse Event (SAE). Please immediately complete Sections I, II and III of this form, submit the signed Case Report Form, upload the relevant source documents, and notify your CCC coordinator, and follow your local IRB's guidelines.)</b></div>
        </ui:define>
        
        <ui:define name="isSAENotQualifying">
            <div style="color: red;"><b>This event is a Serious Adverse Event (SAE). Please <u>immediately</u> complete Sections I and II of this form and follow your local IRB’s guidelines for SAE reporting. (Depending on your responses in Section II, you may also have to complete Section III.)</b></div>
        </ui:define>
        
        <ui:define name="sectionIIQualifying">
            <div style="color: red;"><b>This Serious Adverse Event (SAE) must be reported to the CCC.  <u>Immediately</u> complete Section III of this form, submit the signed completed Case Report Form, upload the relevant de-identified source documents, notify your CCC coordinator, and follow your local IRB's guidelines for SAE/UP reporting.</b></div>
        </ui:define>
        
        <ui:define name="sectionTwoAttestation">
            <div style="color: red;"><b>You do <u>NOT</u> need to report this event to Washington University.  Print this form, sign and date it, file in your patient binder, and follow your local IRB’s guidelines.</b></div>
        </ui:define>
            
        <ui:define name="afterSubmitting">
            <div style="color: red;"><b>After submitting this worksheet, please open the Serious Adverse Event (SAE) Form then print the SAE form, sign and date it.  Then upload the signed SAE form and other relevant source document into the SAE form, and notify your CCC coordinator.</b></div>
        </ui:define>
    </ui:composition>
</html>
