<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    
    <ui:composition template="/template/template.xhtml">
        <ui:define name="body">

            <div class="center_content">
                <h:panelGrid columns="2" >
<!--                <a href="http://ecpregistry.wustl.edu" > <button>Home</button></a>  -->
<!--                <h:commandButton value="Investigator Resources" action="# {calcController.homeAction()}" />  -->
                </h:panelGrid>
            </div>

            <h:panelGrid>
                <h1 style="color:red; font-size:24px;">Study Assignment Results</h1>

                <h:panelGrid rendered="#{controller.selectedParticipant.studyArmStatus.name == 'ECP Treatment Arm'}">
                    <h2>This <span style="color:blue">ECP Refractory BOS</span> participant is assigned to <span style="color:blue">ECP Treatment</span>.</h2>
                    <h2>The participant identification number is #{controller.selectedParticipant.participantID}.</h2>
                    <p>
                        <h:outputText value="Rate of lung function decline (Slope) = #{controller.eligibilityForm.slope} ml / month"/>
                        <h:outputText value="Statistically significant rate of decline (P-Value less than 0.05) = #{controller.eligibilityForm.significance}"/>
                        <h:outputText value="Last FEV1 value = #{controller.eligibilityForm.lastFev1 * 1000} mL"/>
                    </p>
                    <h:form >
                        <h:panelGrid columns="1">
                            <h:commandButton value="OK" action="#{controller.registryLoginAction()}" />
                        </h:panelGrid>
                    </h:form>
                </h:panelGrid>

                <h:panelGrid  rendered="#{controller.selectedParticipant.studyArmStatus.name == 'Observational Arm'}">
                    <h2>This <span style="color:blue">ECP Refractory BOS</span> participant is assigned to <span style="color:blue">Observation</span>.</h2>
                    <h2>The participant identification number is #{controller.selectedParticipant.participantID}.</h2>
                    <h2>This patient is not currently eligible to receive ECP because the rate (slope) of FEV1 decline</h2>
                    <h2>does not meet the study protocol's threshold to qualify to receive ECP (see <a href="ecpRegistryProtocol.xhtml#section3-6" target="_blank">Protocol Section 3.6</a>).</h2>
                    <p>
                        Eligibility failed on the following criterion:
                        <h:outputText value="#{controller.eligibilityForm.observationArmReason}"/>
                    </p>
                    <p>
                        <h:outputText value="Rate of lung function decline (Slope) = #{controller.eligibilityForm.slope} ml / month"/>
                        <h:outputText value="Statistically significant rate of decline (P-Value less than 0.05) = #{controller.eligibilityForm.significance}"/>
                        <h:outputText value="Last FEV1 value = #{controller.eligibilityForm.lastFev1 * 1000} mL"/>
                    </p>
                    <h:form >
                        <h:panelGrid columns="1">
                            <h:commandButton value="OK" action="#{controller.registryLoginAction()}" />
                        </h:panelGrid>
                    </h:form>
                </h:panelGrid>
            </h:panelGrid>
        </ui:define>
    </ui:composition>
    
</html>
