<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    
    <ui:composition template="./template/newCrossoverSafetyFormTemplate.xhtml">
        <ui:define name="importantAndTimeSensitive">
            <div style="width: 750px; font-size: medium; color: red; font-weight: bold">
                <u>Important and Time-Sensitive:</u> 
                <div>1. Please answer the questions below.</div>
                <div>2. PRINT this participant's Crossover Safety Check CRF.</div>
                <div>3. Please have an authorized physician investigator sign and date the CRF.</div> 
                <div>4. Scan and upload the signed Crossover Safety Check CRF.</div>
                <div>5. Per the protocol, submission of this signed Crossover Safety Check CRF is required before ECP or any study-related invasive procedure (e.g. central venous catheter placement) may be performed.</div>                
            </div>
        </ui:define>
    </ui:composition>
    
</html>
