<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    
    <ui:composition template="./template/newCrossoverSafetyFormTemplate.xhtml">
        <ui:define name="importantAndTimeSensitive">
            <u>Important and Time-Sensitive:</u> Please answer the questions below and then PRINT this participant's Crossover Safety Check (CSC) Form, have an authorized physician investigator sign and date the CSC form, and scan and upload the signed CSC.  Per <ui:insert name='preTreatmentAssessmentsProtocolLink' />, submission of this signed CSC Form is required before ECP or any study-related invasive procedure (e.g. central venous catheter placement) may be performed.
        </ui:define>
    </ui:composition>
    
</html>
