<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:composition template="./template/demoMedHistFormTemplate.xhtml">
        <ui:param name="clinStatusWeeksHeader" value="One Week" />
        <ui:param name="clinStatusWeeks" value="one week" />
        <ui:param name="baselineFEV1Assessment" value="component" />
        <ui:param name="vitalsObtainedQuesNum" value="21"/>
        <ui:param name="weightQuesNum" value="22"/>
        <ui:param name="bloodPressQuesNum" value="23"/>
        <ui:param name="heartRateQuesNum" value="24"/>
        <ui:param name="respRateQuesNum" value="25"/>
        <ui:param name="restingOxyQuesNum" value="26"/>
        <ui:param name="receivingOxyQuesNum" value="27"/>
        <ui:param name="commentsQuesNum" value="28"/>
        
        <ui:define name="sourceDocuments">
            <div>
                <h2>Please include the following types of source documents:</h2>
                <div>
                <b>1. History and Physical Or Consultation Note</b>
                </div>
                <div>
                <b>2. Operative Report of Transplant Procedure</b>
                </div>
                <div>
                <b>3. Pulmonary Function Test Reports (for each FEV-1 submitted)</b>
                </div>
            </div>
        </ui:define>
        
        <ui:define name="lungTransplantationCause">
            <div class="question-radioButton">
                <b>5. Please provide a description of the underlying disease necessitating lung transplantation: </b>
                <div class="question-multipleRadioButton" >
                    <h:selectOneRadio id="ques5" class="question-multipleRadioButton" requiredMessage="#{msgs.lungTransplantationCause}" value="#{controller.demoMedHistForm.lungTransplantationCause}" disabled="#{controller.demoMedHistForm.locked}" layout="pageDirection">
                        <f:selectItem itemValue="copd" itemLabel="Chronic Obstructive Pulmonary Disease (COPD) including Emphysema"/>
                        <f:selectItem itemValue="interstitial lung disease" itemLabel="Interstitial Lung Disease" /> 
                        <f:selectItem itemValue="cystic fibrosis" itemLabel="Cystic Fibrosis" /> 
                        <f:selectItem itemValue="pulmonary hypertension" itemLabel="Pulmonary Hypertension" /> 
                        <f:selectItem itemValue="alpha 1-antitrypsin deficiency emphysema" itemLabel="Alpha 1-Antitrypsin Deficiency Emphysema" /> 
                        <f:selectItem itemValue="Replacing previous lung" itemLabel="Replacing previously transplanted lung that failed" /> 
                        <f:selectItem itemValue="other" itemLabel="Other" /> 
                        <f:validateRequired disabled="#{!param['VALIDATE']}" />
                    </h:selectOneRadio>
                </div>
                <p:message for="ques5" />
            </div>
        </ui:define>
        
        <ui:define name="heightWeightAtTransplant">
            <div class="question-inputText">
                <b>8. Weight at time of transplant: </b>
                    <h:inputText id="ques8" value="#{controller.demoMedHistForm.weightAtTransplant}" requiredMessage="#{msgs.weightAtTransplant}" disabled="#{controller.demoMedHistForm.locked}" size="3" validatorMessage="Validation Error: Weight ranges between 30 and 200 kg." >
                        <f:validateLongRange minimum="30" maximum ="200"/>
                        <f:validateRequired disabled="#{!param['VALIDATE']}" />
                    </h:inputText>
                    kilograms
                </div>
                <p:message for="ques8" />
                <div class="question-inputText">
                    <b>9. Height: </b>
                    <h:inputText id="ques9" value="#{controller.demoMedHistForm.height}" requiredMessage="#{msgs.height}" disabled="#{controller.demoMedHistForm.locked}" size="3" validatorMessage="Validation Error: height ranges between 120 and 240 cm." >
                        <f:validateLongRange minimum="120" maximum ="240"/>
                        <f:validateRequired disabled="#{!param['VALIDATE']}" />
                    </h:inputText>
                    Centimeters
                </div>
                <p:message for="ques9" />
        </ui:define>
        
        <ui:define name="baselineFEV1MeasurementsQuestion">
            <b>Please provide the baseline pulmonary function testing results using the ISHLT definition = the average of the two highest FEV1 measurements obtained 3 weeks apart after transplantation.  Also please provide the results of the two component PFT assessments used for this calculation: </b>
        </ui:define>
        
        <ui:param name="bosClad" value="BOS" />
        
        <ui:define name="bosGrades">
            <f:selectItem itemValue="0" itemLabel="0"/>
            <f:selectItem itemValue="0-p" itemLabel="0-p" /> 
            <f:selectItem itemValue="1" itemLabel="1"/>
            <f:selectItem itemValue="2" itemLabel="2"/>
            <f:selectItem itemValue="3" itemLabel="3"/>
        </ui:define>
        
        <ui:define name="bosTable">
            <div class="tableBos">
                    <table style="width:700px;" border="1px solid black" cellpadding="5" margin-left="25px">
                        <col width="150px" />
                        <col width="550px" />
                        <tr>
                            <th>Stage</th>
                            <th>Definition</th>
                        </tr>
                        <tr>
                            <td>BOS Stage 0</td>
                            <td>FEV1 > 90% and FEF 25%-75% > 75% of baseline</td>
                        </tr>
                        <tr>
                          <td>BOS Stage 0-p</td>
                          <td>FEV1 = 81% to 90% of baseline and or FEF 25%-75%  75% of baseline</td>
                        </tr>
                        <tr>
                          <td>BOS Stage 1</td>
                          <td>FEV1 = 66% to 80% of baseline</td>
                        </tr>
                        <tr>
                          <td>BOS Stage 2</td>
                          <td>FEV1 = 51% to 65% of baseline</td>
                        </tr>
                        <tr>
                          <td>BOS Stage 3</td>
                          <td>FEV1 less than or equal to 50% of baseline</td>
                        </tr>
                    </table> 
                </div>
        </ui:define>
        
        <ui:define name="antiCoagPlatelet">
            <div class="treatment-parameters">
                <h:panelGrid columns="2" >
                    <h:outputLabel class="treatment-parameters-questions" value="20. Is the participant on any anticoagulant or anti-platelet drugs?" />
                    <h:selectOneRadio id="ques20" class="yesnoanswers" requiredMessage="#{msgs.onAntiCoagPlatelet}" value="#{controller.demoMedHistForm.onAntiCoagPlatelet}" disabled="#{controller.demoMedHistForm.locked}" style="display: inline-table;">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                        <f:validateRequired disabled="#{!param['VALIDATE']}" />
                    </h:selectOneRadio>
                </h:panelGrid>
            </div>
            <div class="question-inputText-other">
                <b>If yes, list drugs: </b><br/>
                Name drug 1: <h:inputText value="#{controller.demoMedHistForm.antiCoagPlateletName1}" size="30" disabled="#{controller.demoMedHistForm.locked}" /><br/><br/>
                Name drug 2: <h:inputText value="#{controller.demoMedHistForm.antiCoagPlateletName2}" size="30" disabled="#{controller.demoMedHistForm.locked}" /><br/><br/>
                Name drug 3: <h:inputText value="#{controller.demoMedHistForm.antiCoagPlateletName3}" size="30" disabled="#{controller.demoMedHistForm.locked}" /><br/>
            </div>
            <p:message for="ques20" />
        </ui:define>
    </ui:composition>
</html>
