<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:composition template="./template/newDemoMedHistFormTemplate.xhtml">
        <ui:param name="baselineFEV1Assessment" value="PFT" />
        <ui:param name="vitalsObtainedQuesNum" value="20"/>
        <ui:param name="weightQuesNum" value="21"/>
        <ui:param name="bloodPressQuesNum" value="22"/>
        <ui:param name="heartRateQuesNum" value="23"/>
        <ui:param name="respRateQuesNum" value="24"/>
        <ui:param name="restingOxyQuesNum" value="25"/>
        <ui:param name="receivingOxyQuesNum" value="26"/>
        <ui:param name="commentsQuesNum" value="27"/>

        <ui:define name="baselineFEV1MeasurementsQuestion">
            <b>Please provide the baseline FEV1 measurements using the ISHLT definition (The average of the two highest FEV1 measurements obtained three weeks apart after transplantation.)  Please enter the laboratory based FEV1 measurements below: </b>
        </ui:define>
        
        <ui:param name="bosClad" value="CLAD" />
        
        <ui:define name="bosGrades">
            <!--<f:selectItem itemValue="0" itemLabel="0"/>-->
            <f:selectItem itemValue="1" itemLabel="1" /> 
            <f:selectItem itemValue="2" itemLabel="2"/>
            <f:selectItem itemValue="3" itemLabel="3"/>
            <f:selectItem itemValue="4" itemLabel="4"/>
        </ui:define>
        
        <ui:define name="cladStagingFEV">
            <div class="outputText-indented">
                <h:outputText value="b. Please provide the FEV1 used for staging CLAD (The date of onset of CLAD is defined as the date at which the first value of FEV1 was recorded when subsequent values taken at least 3 weeks apart also fell below the threshold): " />
            </div>
            <div class="outputText-indentedTwice">
                <h:outputText value="i. Date: " />
                <p:calendar id="ques18bixy" class="calendar" requiredMessage="#{msgs.firstComponentFEV1Date}" value="#{controller.demoMedHistForm.stagingFEV1Date}" disabled="#{controller.demoMedHistForm.locked}" mode="popup" showOn="button" pattern="MM/dd/yyyy" navigator="true" size="10" converter="strictDateTimeConverter">
                    <f:validateRequired disabled="#{!param['VALIDATE']}" />
                </p:calendar>
            </div>
            <p:message for="ques18bixy" />
            <div class="outputText-indentedTwice">
                <h:outputText value="ii. FEV1 (pre-bronchodilator): " />
                <h:inputText id="ques18biixy" requiredMessage="#{msgs.firstComponentFEV1}" value="#{controller.demoMedHistForm.stagingFEV1}" disabled="#{controller.demoMedHistForm.locked}" size="3" validatorMessage="Validation Error: FEV1 ranges between 0.2 and 6.0 liters">
                    <f:validateDoubleRange minimum="0.2" maximum="6.0"/>
                    <f:validateRequired disabled="#{!param['VALIDATE']}" />
                </h:inputText>
                liters
            </div>
            <p:message for="ques18biixy" />
            <div class="outputText-indentedTwice">
                <h:outputText value="iii. FVC (pre-bronchodilator): " />
                <h:inputText id="ques18biiixy" requiredMessage="#{msgs.firstComponentFVC}" value="#{controller.demoMedHistForm.stagingFVC}" disabled="#{controller.demoMedHistForm.locked}" size="3" validatorMessage="Validation Error: FVC ranges between 0.4 and 6.5 liters">
                    <f:validateDoubleRange minimum="0.4" maximum="6.5"/>
                    <f:validateRequired disabled="#{!param['VALIDATE']}" />
                </h:inputText>
                liters
            </div>
            <p:message for="ques18biiixy" />
        </ui:define>

        <ui:define name="bosTable">
            <div class="tableBos">
                    <table style="width:700px;" border="1px solid black" cellpadding="5" margin-left="25px">
                        <col width="150px" />
                        <col width="550px" />
                        <tr>
                            <th colspan="2">Chronic Lung Allograft Dysfunction (CLAD) STAGING</th>
                        </tr>
                        <tr>
                          <th>STAGE</th>
                          <th>Spirometry</th>
                        </tr>
                        <tr>
                          <td>CLAD 1</td>
                          <td>Current FEV1 &gt; 65-80% FEV1 baseline</td>
                        </tr>
                        <tr>
                          <td>CLAD 2</td>
                          <td>Current FEV1 &gt; 50-65% FEV1 baseline</td>
                        </tr>
                        <tr>
                          <td>CLAD 3</td>
                          <td>Current FEV1 &gt; 35-50% FEV1 baseline</td>
                        </tr>
                        <tr>
                          <td>CLAD 4</td>
                          <td>Current FEV1 &#8804; 35% FEV1 baseline</td>
                        </tr>
                    </table> 
                </div>
        </ui:define>
    </ui:composition>
</html>
