<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:composition template="./template/newEcpTreatmentFormTemplate.xhtml">
        <ui:param name="uvarCycles" value="three to five" />
        <ui:param name="seriousAE" value="" />
        
        <ui:param name="eCPTypeMachineQuesNumber" value="8" />
        <ui:param name="eCPTypeMachineQuesNumber" value="9" />
        <ui:param name="anticoagUsedQuesNumber" value="10" />
        <ui:param name="uvarMachineUsedQuesNumber" value="11" />
        <ui:param name="cellexMachineUsedQuesNumber" value="12" />
        <ui:param name="answerNoReasonWhyQuesNumber" value="13" />
        <ui:param name="typeVenousAccessQuesNumber" value="14" />
        <ui:param name="ecpTxCompletedQuesNumber" value="15" />
        <ui:param name="complicationsQuesNumber" value="16" />
        <ui:param name="commentsQuesNumber" value="17" />

        <ui:define name="cbc_questions_insert">
            <f:selectItem itemValue="cbcWithDiffCollected" itemLabel="CBC Collected with Differential on the Day of ECP"/>
            <f:selectItem itemValue="cbcCollectedYesterday" itemLabel="CBC Collected with ECP Treatment Yesterday" />
            <f:selectItem itemValue="cbcMissed" itemLabel="CBC Missed (Please provide note to file.)" />
            <f:selectItem itemValue="diffMissed" itemLabel="Differential missed (Please provide note to file.)" />
        </ui:define>


    </ui:composition>

</html>
