<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:composition template="./template/newEcpTreatmentFormTemplate.xhtml">
        <ui:param name="seriousAE" value="the Serious " />
        
        <ui:param name="eCPTypeMachineQuesNumber" value="9" />
        <ui:param name="anticoagUsedQuesNumber" value="10" />
        <ui:param name="uvarMachineUsedQuesNumber" value="11" />
        <ui:param name="cellexMachineUsedQuesNumber" value="12" />
        <ui:param name="answerNoReasonWhyQuesNumber" value="13" />
        <ui:param name="typeVenousAccessQuesNumber" value="14" />
        <ui:param name="ecpTxCompletedQuesNumber" value="15" />
        <ui:param name="complicationsQuesNumber" value="16" />
        <ui:param name="commentsQuesNumber" value="17" />
        <ui:param name="cbcClarification" value=" with Differential collected on the day of ECP prior to initiating ECP"/>
        
        <ui:define name="cbc_questions_insert">
            <f:selectItem itemValue="cbcWithDiffCollected" itemLabel="CBC with Differential collected"/>
            <f:selectItem itemValue="cbcMissed" itemLabel="CBC Missed (Please provide note to file.)" />
            <f:selectItem itemValue="diffMissed" itemLabel="Differential Missed (Please provide note to file.)" />
        </ui:define>
        
        <ui:define name="confirmHematocrit">
            <div class="pre-treat-assess-2">
                <b>Was this CBC (question 6 above) collected to confirm Hematocrit? </b>
                <!--<h:selectOneRadio id="confirmHematocrit" requiredMessage="Please enter hematocrit confirmation." value="#{controller.ecpTreatmentForm.usedToConfirmHematocrit}" disabled="#{controller.ecpTreatmentForm.locked}" style="display: inline-table;">-->
                <h:selectOneRadio id="confirmHematocrit" requiredMessage="Please enter hematocrit confirmation." value="#{controller.ecpTreatmentForm.usedToConfirmHematocrit}" disabled="#{controller.ecpTreatmentForm.locked}" style="display: inline-table;" layout="pageDirection">
                    <f:selectItem itemValue="true" itemLabel="Yes, this CBC was used to confirm Hematocrit"/>
                    <f:selectItem itemValue="false" itemLabel="No, a separate  CBC was collected to confirm Hematocrit (Please enter these results in question 8 below.)" /> 
                    <f:validateRequired disabled="#{!param['VALIDATE']}" />
                    <f:ajax listener="#{controller.ecpTreatmentForm.usedToConfirmHematocritListener}" render="cbcQuestion2" />
                </h:selectOneRadio>
                <h:panelGroup id="usedtoConfirmHematocritVerificationPanel2" rendered="#{controller.renderVerificationPanel('usedToConfirmHematocrit')}">
                     <div class="selectVerificationStatus">
                         <h:outputLabel value="Q6 Confirm Hematocrit: VERIFICATION STATUS " rendered="true"/>
                         <h:selectOneMenu id="usedToConfirmHematocritVerify" value="#{controller.ecpTreatmentForm.usedToConfirmHematocritVerificationStatus}" rendered="true">
                             <f:selectItems value="#{controller.ecpTreatmentForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                         </h:selectOneMenu>
                     </div>
                     <div class="selectVerificationStatus">
                         <h:outputText value="DCC Query Comment: " rendered="true" />
                         <h:inputTextarea value="#{controller.ecpTreatmentForm.usedToConfirmHematocritDccComment}" rows="1" cols="50" rendered="true" /> 
                     </div>
                 </h:panelGroup>
                <p:message for="confirmHematocrit" />
            </div>
        </ui:define>
        
        <ui:define name="secondCBC">
            <h:panelGroup id="cbcQuestion2">
                <div class="pre-treat-assess-2">
                     <b>8. Complete blood count (CBC) collected to confirm Hematocrit: </b><br/>
                      <h:selectOneRadio id="cbcCollected2" value="#{controller.ecpTreatmentForm.cbcCollected2}" disabled="#{controller.ecpTreatmentForm.locked || controller.ecpTreatmentForm.usedToConfirmHematocrit == 'true'}" style="display: inline-table;" layout="pageDirection">
                      <f:selectItem itemValue="cbcWithDiffCollected" itemLabel="CBC with Differential collected"/>
                      <f:selectItem itemValue="cbcMissed" itemLabel="CBC Missed (Please provide note to file.)" />
                      <f:selectItem itemValue="diffMissed" itemLabel="Differential Missed (Please provide note to file.)" />
                        <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        <f:ajax listener="#{controller.ecpTreatmentForm.cbcCollectedListener2}" render="cbcQuestion2" />
                    </h:selectOneRadio>
                 </div>
                 <h:panelGroup id="cbcCollectedVerificationPanel2" rendered="#{controller.renderVerificationPanel('cbcCollected2') and controller.ecpTreatmentForm.usedToConfirmHematocrit == 'false'}">
                     <div class="selectVerificationStatusIndented">
                         <h:outputLabel value="Q8 CBC Collection: VERIFICATION STATUS " rendered="true"/>
                         <h:selectOneMenu id="cbcVerifyCollected2" value="#{controller.ecpTreatmentForm.cbcCollected2VerificationStatus}" rendered="true">
                             <f:selectItems value="#{controller.ecpTreatmentForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                         </h:selectOneMenu>
                     </div>
                     <div class="selectVerificationStatusIndented">
                         <h:outputText value="DCC Query Comment: " rendered="true" />
                         <h:inputTextarea value="#{controller.ecpTreatmentForm.cbcCollected2DccComment}" rows="1" cols="50" rendered="true" /> 
                     </div>
                 </h:panelGroup>
                <p:message for="cbcCollected" />

                <div class="pre-treat-assess-cbc">
                    <b>Date of CBC: </b>
                    <p:calendar id="ques62" class="calendar" value="#{controller.ecpTreatmentForm.completeBloodCountDate2}" disabled="#{controller.ecpTreatmentForm.locked || controller.ecpTreatmentForm.usedToConfirmHematocrit == 'true' || controller.ecpTreatmentForm.cbcCollected2 == 'cbcCollectedYesterday' || controller.ecpTreatmentForm.cbcCollected2 == 'cbcMissed'}" mode="popup" showOn="button" pattern="MM/dd/yyyy" navigator="true" size="10"  validatorMessage="Validation Error: A date is required." converter="strictDateTimeConverter">
                        <f:validateRequired disabled="#{!param['VALIDATE'] or controller.ecpTreatmentForm.isAttributeOptional('completeBloodCountDate2')}" />
                    </p:calendar>
                </div>
                <h:panelGroup id="cbcDateVerificationPanel2" rendered="#{controller.renderVerificationPanel('completeBloodCountDate2') and controller.ecpTreatmentForm.usedToConfirmHematocrit == 'false'}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Q8 Date: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="completeBloodCountDateVerifyType62" value="#{controller.ecpTreatmentForm.completeBloodCountDate2VerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.ecpTreatmentForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.ecpTreatmentForm.completeBloodCountDate2DccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>
                <p:message for="ques6" />

                <div class="pre-treat-assess-cbc">
                    <b>WBCs: </b>
                    <h:inputText id="ques6a2" requiredMessage="#{msgs.wbcs}" value="#{controller.ecpTreatmentForm.wbcs2}" disabled="#{controller.ecpTreatmentForm.locked || controller.ecpTreatmentForm.usedToConfirmHematocrit == 'true' || controller.ecpTreatmentForm.cbcCollected2 == 'cbcCollectedYesterday' || controller.ecpTreatmentForm.cbcCollected2 == 'cbcMissed'}" size="3" validatorMessage="Validation Error: WBC ranges between 1.0 and 40.0." >
                        <f:validateLongRange minimum="1" maximum ="40"/>
                        <f:validateRequired disabled="#{!param['VALIDATE'] or controller.ecpTreatmentForm.isAttributeOptional('wbcs2')}" />
                    </h:inputText>
                    (K/cumm)
                </div>
                <h:panelGroup rendered="#{controller.renderVerificationPanel('wbcs2') and controller.ecpTreatmentForm.usedToConfirmHematocrit == 'false'}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Q8 WBCS: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="wbcsVerifyType62" value="#{controller.ecpTreatmentForm.wbcs2VerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.ecpTreatmentForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.ecpTreatmentForm.wbcs2DccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>
                <p:message for="ques6a" />

                <div class="pre-treat-assess-cbc">
                    <b>RBCs: </b>
                    <h:inputText id="ques6b2" requiredMessage="#{msgs.rbcs}" value="#{controller.ecpTreatmentForm.rbcs2}" disabled="#{controller.ecpTreatmentForm.locked || controller.ecpTreatmentForm.usedToConfirmHematocrit == 'true' || controller.ecpTreatmentForm.cbcCollected2 == 'cbcCollectedYesterday' || controller.ecpTreatmentForm.cbcCollected2 == 'cbcMissed'}" size="3" >
                        <f:validateRequired disabled="#{!param['VALIDATE'] or controller.ecpTreatmentForm.isAttributeOptional('rbcs2')}" />
                    </h:inputText>
                    (M/cumm)
                </div>
                <h:panelGroup rendered="#{controller.renderVerificationPanel('rbcs2') and controller.ecpTreatmentForm.usedToConfirmHematocrit == 'false'}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Q8 RBCS: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="rbcsVerifyType62" value="#{controller.ecpTreatmentForm.rbcs2VerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.ecpTreatmentForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.ecpTreatmentForm.rbcs2DccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>
                <p:message for="ques6b" />

                <div class="pre-treat-assess-cbc">
                    <b>Hemoglobin: </b>
                    <h:inputText id="ques6c2" requiredMessage="#{msgs.hemoglobin}" value="#{controller.ecpTreatmentForm.hemoglobin2}" disabled="#{controller.ecpTreatmentForm.locked || controller.ecpTreatmentForm.usedToConfirmHematocrit == 'true' || controller.ecpTreatmentForm.cbcCollected2 == 'cbcCollectedYesterday' || controller.ecpTreatmentForm.cbcCollected2 == 'cbcMissed'}" size="3" validatorMessage="Validation Error: Hemoglobin ranges between 5.0 and 17.0." >
                        <f:validateLongRange minimum="5" maximum ="17"/>
                        <f:validateRequired disabled="#{!param['VALIDATE'] or controller.ecpTreatmentForm.isAttributeOptional('hemoglobin2')}" />
                    </h:inputText>
                    (g/dl)
                </div>
                <h:panelGroup rendered="#{controller.renderVerificationPanel('hemoglobin2') and controller.ecpTreatmentForm.usedToConfirmHematocrit == 'false'}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Q8 Hemoglobin: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="hemoglobinVerifyType62" value="#{controller.ecpTreatmentForm.hemoglobin2VerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.ecpTreatmentForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.ecpTreatmentForm.hemoglobin2DccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>
                <p:message for="ques6c" />

                <div class="pre-treat-assess-cbc">
                    <b>Hematocrit: </b>
                    <h:inputText id="ques6d2" requiredMessage="#{msgs.hematocrit}" value="#{controller.ecpTreatmentForm.hematocrit2}" disabled="#{controller.ecpTreatmentForm.locked || controller.ecpTreatmentForm.usedToConfirmHematocrit == 'true' || controller.ecpTreatmentForm.cbcCollected2 == 'cbcCollectedYesterday' || controller.ecpTreatmentForm.cbcCollected2 == 'cbcMissed'}" size="3" validatorMessage="Validation Error: Hematocrit ranges between 20.0 and 55.0." >
                        <f:validateLongRange minimum="20" maximum ="55"/>
                        <f:validateRequired disabled="#{!param['VALIDATE'] or controller.ecpTreatmentForm.isAttributeOptional('hematocrit2')}" />
                    </h:inputText>
                    (%)
                </div>
                <h:panelGroup rendered="#{controller.renderVerificationPanel('hematocrit2') and controller.ecpTreatmentForm.usedToConfirmHematocrit == 'false'}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Q8 Hematocrit: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="hematocritVerifyType62" value="#{controller.ecpTreatmentForm.hematocrit2VerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.ecpTreatmentForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.ecpTreatmentForm.hematocrit2DccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>
                <p:message for="ques6d" />

                <div class="pre-treat-assess-cbc">
                    <b>Platelets: </b>
                    <h:inputText id="ques6e2" requiredMessage="#{msgs.platelets}" value="#{controller.ecpTreatmentForm.platelets2}" disabled="#{controller.ecpTreatmentForm.locked || controller.ecpTreatmentForm.usedToConfirmHematocrit == 'true' || controller.ecpTreatmentForm.cbcCollected2 == 'cbcCollectedYesterday' || controller.ecpTreatmentForm.cbcCollected2 == 'cbcMissed'}" size="3" validatorMessage="Validation Error: Platelets range between 25 and 1,000." >
                        <f:validateLongRange minimum="25" maximum ="1000" for="ques6e"/>
                        <f:validateRequired disabled="#{!param['VALIDATE'] or controller.ecpTreatmentForm.isAttributeOptional('platelets2')}" />
                    </h:inputText>
                    (K/cumm)
                </div>
                <h:panelGroup rendered="#{controller.renderVerificationPanel('platelets2') and controller.ecpTreatmentForm.usedToConfirmHematocrit == 'false'}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Q8 Platelets: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="plateletsVerifyType62" value="#{controller.ecpTreatmentForm.platelets2VerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.ecpTreatmentForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.ecpTreatmentForm.platelets2DccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>
                <p:message for="ques6e" />

                <div class="pre-treat-assess-cbc">
                    <b>Neutrophils: </b>
                    <h:inputText id="ques6f2" requiredMessage="#{msgs.neutrophils}" value="#{controller.ecpTreatmentForm.neutrophils2}" disabled="#{controller.ecpTreatmentForm.locked || controller.ecpTreatmentForm.usedToConfirmHematocrit == 'true' || controller.ecpTreatmentForm.cbcCollected2 == 'cbcCollectedYesterday' || controller.ecpTreatmentForm.cbcCollected2 == 'cbcMissed' || controller.ecpTreatmentForm.cbcCollected2 == 'diffMissed'}" size="3" validatorMessage="Validation Error: Neutrophils range between 0 and 100%." >
                        <f:validateLongRange minimum="0" maximum ="100"/>
                        <f:validateRequired disabled="#{!param['VALIDATE'] or controller.ecpTreatmentForm.isAttributeOptional('neutrophils2')}" />
                    </h:inputText>
                    (%)
                </div>
                <h:panelGroup rendered="#{controller.renderVerificationPanel('neutrophils2') and controller.ecpTreatmentForm.usedToConfirmHematocrit == 'false'}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Q8 Neutrophils VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="neutrophilsVerifyType62" value="#{controller.ecpTreatmentForm.neutrophils2VerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.ecpTreatmentForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.ecpTreatmentForm.neutrophils2DccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>
                <p:message for="ques6f" />

                <div class="pre-treat-assess-cbc">
                    <b>Lymphocytes: </b>
                    <h:inputText id="ques6g2" requiredMessage="#{msgs.lymphocytes}" value="#{controller.ecpTreatmentForm.lymphocytes2}" disabled="#{controller.ecpTreatmentForm.locked || controller.ecpTreatmentForm.usedToConfirmHematocrit == 'true' || controller.ecpTreatmentForm.cbcCollected2 == 'cbcCollectedYesterday' || controller.ecpTreatmentForm.cbcCollected2 == 'cbcMissed' || controller.ecpTreatmentForm.cbcCollected2 == 'diffMissed'}" size="3" validatorMessage="Validation Error: Lymphocytes range between 0 and 100%." >
                        <f:validateLongRange minimum="0" maximum ="100"/>
                        <f:validateRequired disabled="#{!param['VALIDATE'] or controller.ecpTreatmentForm.isAttributeOptional('lymphocytes2')}" />
                    </h:inputText>
                    (%)
                </div>
                <h:panelGroup rendered="#{controller.renderVerificationPanel('lymphocytes2') and controller.ecpTreatmentForm.usedToConfirmHematocrit == 'false'}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Q8 Lymphocytes VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="lymphocytesVerifyType62" value="#{controller.ecpTreatmentForm.lymphocytes2VerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.ecpTreatmentForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.ecpTreatmentForm.lymphocytes2DccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>
                <p:message for="ques6g" />

                <div class="pre-treat-assess-cbc">
                    <b>Monocytes: </b>
                    <h:inputText id="ques6h2" requiredMessage="#{msgs.monocytes}" value="#{controller.ecpTreatmentForm.monocytes2}" disabled="#{controller.ecpTreatmentForm.locked || controller.ecpTreatmentForm.usedToConfirmHematocrit == 'true' || controller.ecpTreatmentForm.cbcCollected2 == 'cbcCollectedYesterday' || controller.ecpTreatmentForm.cbcCollected2 == 'cbcMissed' || controller.ecpTreatmentForm.cbcCollected2 == 'diffMissed'}" size="3" validatorMessage="Validation Error: Monocytes range between 0 and 100%." >
                        <f:validateLongRange minimum="0" maximum ="100"/>
                        <f:validateRequired disabled="#{!param['VALIDATE'] or controller.ecpTreatmentForm.isAttributeOptional('monocytes2')}" />
                    </h:inputText>
                    (%)
                </div>
                <h:panelGroup rendered="#{controller.renderVerificationPanel('monocytes2') and controller.ecpTreatmentForm.usedToConfirmHematocrit == 'false'}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Q8 Monocytes VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="monocytesVerifyType62" value="#{controller.ecpTreatmentForm.monocytes2VerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.ecpTreatmentForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.ecpTreatmentForm.monocytes2DccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>
                <p:message for="ques6h" />

                <div class="pre-treat-assess-cbc">
                    <b>Eosinophils: </b>
                    <h:inputText id="ques6i2" requiredMessage="#{msgs.eosinophils}" value="#{controller.ecpTreatmentForm.eosinophils2}" disabled="#{controller.ecpTreatmentForm.locked || controller.ecpTreatmentForm.usedToConfirmHematocrit == 'true' || controller.ecpTreatmentForm.cbcCollected2 == 'cbcMissed' || controller.ecpTreatmentForm.cbcCollected2 == 'diffMissed'}" size="3" validatorMessage="Validation Error: Eosinophils range between 0 and 100%." >
                        <f:validateLongRange minimum="0" maximum ="100"/>
                        <f:validateRequired disabled="#{!param['VALIDATE'] or controller.ecpTreatmentForm.isAttributeOptional('eosinophils2')}" />
                    </h:inputText>
                    (%)
                </div>
                <h:panelGroup rendered="#{controller.renderVerificationPanel('eosinophils2') and controller.ecpTreatmentForm.usedToConfirmHematocrit == 'false'}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Q8 Eosinophils VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="eosinophilsVerifyType62" value="#{controller.ecpTreatmentForm.eosinophils2VerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.ecpTreatmentForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.ecpTreatmentForm.eosinophils2DccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>
                <p:message for="ques6i" />

                <div class="pre-treat-assess-cbc">
                    <b>Basophils: </b>
                    <h:inputText id="ques6j2" requiredMessage="#{msgs.basophils}" value="#{controller.ecpTreatmentForm.basophils2}" disabled="#{controller.ecpTreatmentForm.locked || controller.ecpTreatmentForm.usedToConfirmHematocrit == 'true' || controller.ecpTreatmentForm.cbcCollected2 == 'cbcCollectedYesterday' || controller.ecpTreatmentForm.cbcCollected2 == 'cbcMissed' || controller.ecpTreatmentForm.cbcCollected2 == 'diffMissed'}" size="3" validatorMessage="Validation Error: Basophils range between 0 and 100%." >
                        <f:validateLongRange minimum="0" maximum ="100"/>
                        <f:validateRequired disabled="#{!param['VALIDATE'] or controller.ecpTreatmentForm.isAttributeOptional('basophils2')}" />
                    </h:inputText>
                    (%)
                </div>
                <h:panelGroup rendered="#{controller.renderVerificationPanel('basophils2') and controller.ecpTreatmentForm.usedToConfirmHematocrit == 'false'}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Q8 Basophils VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="basophilsVerifyType62" value="#{controller.ecpTreatmentForm.basophils2VerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.ecpTreatmentForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.ecpTreatmentForm.basophils2DccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>
                <p:message for="ques6j" />
            </h:panelGroup>
        </ui:define>
        
         <ui:define name="portDescription">
            <div class="treatment-parameters-string-indent">
                <b>A. If yes to port: </b>
                <h:selectOneRadio id="ques13a" class="typeVenousAccessLumen" requiredMessage="#{msgs.portLumen}" value="#{controller.ecpTreatmentForm.portLumen}" disabled="#{controller.ecpTreatmentForm.locked || controller.ecpTreatmentForm.typeVenousAccess != 'ivad_port'}" style="display: inline-table;">
                    <f:selectItem itemValue="portSingleLumen" itemLabel="Single Lumen"/>
                    <f:selectItem itemValue="portDoubleLumen" itemLabel="Double Lumen" /> 
                </h:selectOneRadio>
            </div>
            <div class="treatment-parameters-string-indent">
                <b>B. Name of port </b>
                <h:selectOneRadio id="ques13b" class="typeVenousAccess" requiredMessage="#{msgs.portName}" value="#{controller.ecpTreatmentForm.portName}" disabled="#{controller.ecpTreatmentForm.locked || controller.ecpTreatmentForm.typeVenousAccess != 'ivad_port'}" style="display: inline-table;">
                    <f:selectItem itemValue="portNameVortex" itemLabel="Vortex"/>
                    <f:selectItem itemValue="portNamePowerPort" itemLabel="Power Port"/>
                    <f:selectItem itemValue="portNamePowerFlow" itemLabel="Power Flow"/>
                    <f:selectItem itemValue="portNameOther" itemLabel="Other"/>
                </h:selectOneRadio>
            </div>
            <div class="treatment-parameters-string-indent">
                <b>If other, please provide the name of the port: </b>
                <h:inputTextarea value="#{controller.ecpTreatmentForm.portNameComment}" rows="2" cols="80" disabled="#{controller.ecpTreatmentForm.locked || controller.ecpTreatmentForm.typeVenousAccess != 'ivad_port'}" />
            </div>
        </ui:define>

    </ui:composition>

</html>
