<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./template/newEligibilityFormTemplate.xhtml">
        <ui:param name="leukopeniaThreshold" value="3,000 cells/mm3" />
        <ui:param name="baselineComponentName" value="component" />
        
        <ui:param name="inclusionMinimumFive" value="At minimum five recorded FEV1 measurements obtained at intervals at least two weeks apart over the six months preceding study enrollment, of which one FEV1 must be within two weeks of enrollment" />
        <ui:param name="inclusionFrequentMonitoring" value="History of frequent spirometry monitoring, defined as having had regular FEV1 measurements during the preceding four months to enrollment with no time interval between FEV1 measurements that exceeds eight weeks" />
        <ui:param name="exclusionContraindication" value="Has a) acute contraindication to receiving ECP due to any acute condition such as new or evolving myocardial infarction or central nervous system disorder, hemodynamic instability or hypovolemia, acute bleeding, respiratory distress; b) lupus erythematosus, porphyria cutanea tarda, erythropoietic protoporphyria, variegate porphyria, xeroderma pigmentosum, albinism, or other dermatologic or ocular condition that contraindicates the use of methoxsalen or markedly enhances photosensitivity in the investigator’s judgment; or c) other condition that poses unacceptable risk for study-related complications as judged by the referring clinician" />
        <ui:param name="exclusionAdherence" value="Any condition that would significantly interfere with ability to adhere to the protocol or affect interpretability of the study results" />
        
        <ui:define name="timeSensitiveNotice">
            <u>Important and Time-Sensitive:</u> Please PRINT this subject's Confirmation of Eligibility (COE) Form, have an authorized physician investigator sign and date the COE form, and scan and upload the signed COE form along with the <u>de-identified</u> Source Documents listed at the top of the COE Form.  Per <a href="ecpRegistryProtocol.xhtml#section3-7" target="_blank">Protocol Section 3.7</a>, submission of this signed COE Form with DCC Verification is required before ECP or any study-related invasive procedure (e.g. central venous catheter placement) may be performed. NOTE: ECP Treatment or study-related invasive procedures are not permitted for Observation Arm participants.
        </ui:define>
        
        <ui:define name="baselineMeasurementInstructions">
            <div class="ishlt-directions">
                2. ISHLT BASELINE MEASUREMENTS - The system will calculate the baseline pulmonary function testing results using the ISHLT definition = the average of the two highest FEV1 measurements obtained at least three weeks apart after transplantation. Please provide the results of the two component PFT assessments to be used for this calculation: 
            </div>
        </ui:define>
        
        <ui:define name="thirdPostTransBOSDiag">
            <div class="outputText-indented">
                <h:outputText value="c. Third #{baselineComponentName} assessment (if needed): " />
            </div>
            <div class="outputText-indentedTwice">
                <h:outputText value="i. Date: " />
                <p:calendar id="ques21di" class="calendar" requiredMessage="#{msgs.thirdPostTransBOSDiagFEV1Date}" value="#{controller.eligibilityForm.thirdPostTransBOSDiagFEV1Date}" disabled="#{controller.eligibilityForm.locked}" mode="popup" showOn="button" pattern="MM/dd/yyyy" navigator="true" size="10" converter="strictDateTimeConverter" />
            </div>
            <h:panelGroup rendered="#{controller.renderVerificationPanel('thirdPostTransBOSDiagFEV1Date')}">
                <div class="selectVerificationStatusIndented">
                    <h:outputLabel value="D.2.c.i.: VERIFICATION STATUS " rendered="true"/>
                    <h:selectOneMenu id="verifyD3ci" value="#{controller.eligibilityForm.thirdPostTransBOSDiagFEV1DateVerificationStatus}" rendered="true">
                        <f:selectItems value="#{controller.eligibilityForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                    </h:selectOneMenu>
                </div>
                <div class="selectVerificationStatusIndented">
                    <h:outputText value="DCC Query Comment: " rendered="true" />
                    <h:inputTextarea value="#{controller.eligibilityForm.thirdPostTransBOSDiagFEV1DateDccComment}" rows="1" cols="50" rendered="true" /> 
                </div>
            </h:panelGroup>
            <p:message for="ques21di" />

            <div class="outputText-indentedTwice">
                <h:outputText value="ii. FEV1 (pre-bronchodilator): " />
                <h:inputText id="ques21dii" requiredMessage="#{msgs.thirdPostTransBOSDiagFEV1}" value="#{controller.eligibilityForm.thirdPostTransBOSDiagFEV1}" disabled="#{controller.eligibilityForm.locked}" size="3" validatorMessage="Validation Error: FEV1 ranges between 0.2 and 6.0 liters">
                    <f:validateDoubleRange minimum="0.2" maximum="6.0"/>
                </h:inputText>
                liters
            </div>
            <h:panelGroup rendered="#{controller.renderVerificationPanel('thirdPostTransBOSDiagFEV1')}">
                <div class="selectVerificationStatusIndented">
                    <h:outputLabel value="D.2.c.ii.: VERIFICATION STATUS " rendered="true"/>
                    <h:selectOneMenu id="verifyD3cii" value="#{controller.eligibilityForm.thirdPostTransBOSDiagFEV1VerificationStatus}" rendered="true">
                        <f:selectItems value="#{controller.eligibilityForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                    </h:selectOneMenu>
                </div>
                <div class="selectVerificationStatusIndented">
                    <h:outputText value="DCC Query Comment: " rendered="true" />
                    <h:inputTextarea value="#{controller.eligibilityForm.thirdPostTransBOSDiagFEV1DccComment}" rows="1" cols="50" rendered="true" /> 
                </div>
            </h:panelGroup>
            <p:message for="ques21dii" />

            <div class="outputText-indentedTwice">
                <h:outputText value="iii. FVC (pre-bronchodilator): " />
                <h:inputText id="ques21diii" requiredMessage="#{msgs.thirdPostTransBOSDiagFVC}" value="#{controller.eligibilityForm.thirdPostTransBOSDiagFVC}" disabled="#{controller.eligibilityForm.locked}" size="3" validatorMessage="Validation Error: FVC ranges between 0.4 and 6.5 liters">
                    <f:validateDoubleRange minimum="0.4" maximum="6.5"/>
                </h:inputText>
                liters
            </div>
            <h:panelGroup rendered="#{controller.renderVerificationPanel('thirdPostTransBOSDiagFVC')}">
                <div class="selectVerificationStatusIndented">
                    <h:outputLabel value="D.2.c.iii.: VERIFICATION STATUS " rendered="true"/>
                    <h:selectOneMenu id="verifyD3ciii" value="#{controller.eligibilityForm.thirdPostTransBOSDiagFVCVerificationStatus}" rendered="true">
                        <f:selectItems value="#{controller.eligibilityForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                    </h:selectOneMenu>
                </div>
                <div class="selectVerificationStatusIndented">
                    <h:outputText value="DCC Query Comment: " rendered="true" />
                    <h:inputTextarea value="#{controller.eligibilityForm.thirdPostTransBOSDiagFVCDccComment}" rows="1" cols="50" rendered="true" /> 
                </div>
            </h:panelGroup>
            <p:message for="ques21diii" />
        </ui:define>
        
        <define name="thirdRefractoryBOSDiag">
            <div class="outputText-indented">
                <h:outputText value="c. Third #{baselineComponentName} assessment (if needed): " />
            </div>
            <div class="outputText-indentedTwice">
                <h:outputText value="i. Date: " />
                <p:calendar id="ques22di" class="calendar" requiredMessage="#{msgs.thirdRefractoryBOSDiagFEV1Date}" value="#{controller.eligibilityForm.thirdRefractoryBOSDiagFEV1Date}" disabled="#{controller.eligibilityForm.locked}" mode="popup" showOn="button" pattern="MM/dd/yyyy" navigator="true" size="10" converter="strictDateTimeConverter" />
            </div>
            <h:panelGroup rendered="#{controller.renderVerificationPanel('thirdRefractoryBOSDiagFEV1Date')}">
                <div class="selectVerificationStatusIndented">
                    <h:outputLabel value="D.4.c.i.: VERIFICATION STATUS " rendered="true"/>
                    <h:selectOneMenu id="verifyD4ci" value="#{controller.eligibilityForm.thirdRefractoryBOSDiagFEV1DateVerificationStatus}" rendered="true">
                        <f:selectItems value="#{controller.eligibilityForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                    </h:selectOneMenu>
                </div>
                <div class="selectVerificationStatusIndented">
                    <h:outputText value="DCC Query Comment: " rendered="true" />
                    <h:inputTextarea value="#{controller.eligibilityForm.thirdRefractoryBOSDiagFEV1DateDccComment}" rows="1" cols="50" rendered="true" /> 
                </div>
            </h:panelGroup>
            <p:message for="ques22di" />

            <div class="outputText-indentedTwice">
                <h:outputText value="ii. FEV1 (pre-bronchodilator): " />
                <h:inputText id="ques22dii" requiredMessage="#{msgs.thirdRefractoryBOSDiagFEV1}" value="#{controller.eligibilityForm.thirdRefractoryBOSDiagFEV1}" disabled="#{controller.eligibilityForm.locked}" size="3" validatorMessage="Validation Error: FEV1 ranges between 0.2 and 6.0 liters">
                    <f:validateDoubleRange minimum="0.2" maximum="6.0"/>
                </h:inputText>
                liters
            </div>
            <h:panelGroup rendered="#{controller.renderVerificationPanel('thirdRefractoryBOSDiagFEV1')}">
                <div class="selectVerificationStatusIndented">
                    <h:outputLabel value="D.4.c.ii.: VERIFICATION STATUS " rendered="true"/>
                    <h:selectOneMenu id="verifyD4cii" value="#{controller.eligibilityForm.thirdRefractoryBOSDiagFEV1VerificationStatus}" rendered="true">
                        <f:selectItems value="#{controller.eligibilityForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                    </h:selectOneMenu>
                </div>
                <div class="selectVerificationStatusIndented">
                    <h:outputText value="DCC Query Comment: " rendered="true" />
                    <h:inputTextarea value="#{controller.eligibilityForm.thirdRefractoryBOSDiagFEV1DccComment}" rows="1" cols="50" rendered="true" /> 
                </div>
            </h:panelGroup>
            <p:message for="ques22dii" />

            <div class="outputText-indentedTwice">
                <h:outputText value="iii. FVC (pre-bronchodilator): " />
                <h:inputText id="ques22diii" requiredMessage="#{msgs.thirdRefractoryBOSDiagFVC}" value="#{controller.eligibilityForm.thirdRefractoryBOSDiagFVC}" disabled="#{controller.eligibilityForm.locked}" size="3" validatorMessage="Validation Error: FVC ranges between 0.4 and 6.5 liters">
                    <f:validateDoubleRange minimum="0.4" maximum="6.5"/>
                </h:inputText>
                liters
            </div>
            <h:panelGroup rendered="#{controller.renderVerificationPanel('thirdRefractoryBOSDiagFVC')}">
                <div class="selectVerificationStatusIndented">
                    <h:outputLabel value="D.4.c.iii.: VERIFICATION STATUS " rendered="true"/>
                    <h:selectOneMenu id="verifyD4ciii" value="#{controller.eligibilityForm.thirdRefractoryBOSDiagFVCVerificationStatus}" rendered="true">
                        <f:selectItems value="#{controller.eligibilityForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                    </h:selectOneMenu>
                </div>
                <div class="selectVerificationStatusIndented">
                    <h:outputText value="DCC Query Comment: " rendered="true" />
                    <h:inputTextarea value="#{controller.eligibilityForm.thirdRefractoryBOSDiagFVCDccComment}" rows="1" cols="50" rendered="true" /> 
                </div>
            </h:panelGroup>
            <p:message for="ques22diii" />
        </define>
        
        <ui:define name="inclusionCriteria">
                            <h:panelGrid columns="2" >
                    <h:selectOneRadio id="ques1" class="yesnoanswers" required="true" requiredMessage="#{msgs.age}" value="#{controller.eligibilityForm.age}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Age 18 years or older" />
                </h:panelGrid>
                <h:panelGroup rendered="#{controller.renderVerificationPanel('age')}">
                    <div class="selectVerificationStatusIndentedMore">
                        <h:outputLabel value="Age: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType1" value="#{controller.eligibilityForm.ageVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.eligibilityForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndentedMore">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.eligibilityForm.ageDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>
                <p:message for="ques1" />

                <h:panelGrid columns="2" >
                    <h:selectOneRadio id="ques2" class="yesnoanswers" required="" requiredMessage="#{msgs.medicare}" value="#{controller.eligibilityForm.medicare}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Medicare-eligible (i.e. patients with both Part A and B) status" />
                </h:panelGrid>
                <p:message for="ques2" />

                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques3" class="yesnoanswers" required="" requiredMessage="#{msgs.lungTransplant}" value="#{controller.eligibilityForm.lungTransplant}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Lung transplant recipient (combined organ transplant recipients, e.g. heart-lung or liver-lung recipients, are eligible)" />
                </h:panelGrid>
                <h:panelGroup rendered="#{controller.renderVerificationPanel('lungTransplant')}">
                    <div class="selectVerificationStatusIndentedMore">
                        <h:outputLabel value="Lung Transplant: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType3" value="#{controller.eligibilityForm.lungTransplantVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.eligibilityForm.verificationTypes}"  var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndentedMore">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.eligibilityForm.lungTransplantDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>
                <p:message for="ques3" />

                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques4" class="yesnoanswers" required="" requiredMessage="#{msgs.progressiveBOS}" value="#{controller.eligibilityForm.progressiveBOS}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Refractory BOS defined as ongoing decline in FEV1 despite at least one of the following treatments: azithromycin, high dose steroid, anti-thymocyte globulin, total lymphoid irradiation, sirolimus, or everolimus" />
                </h:panelGrid>
                <p:message for="ques4" />

                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques4a" class="yesnoanswers" required="" requiredMessage="#{msgs.yesOrNoRequired}" value="#{controller.eligibilityForm.labBasedNewBOSDiagnosis}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Patients with a diagnosis of BOS using at least two laboratory based FEV1 values obtained at least three weeks apart that are both at least 20% lower than baseline FEV1 using the ISHLT definition (the average of the two highest FEV1 measurements obtained at least three weeks apart after transplantation)" />
                </h:panelGrid>
                <p:message for="ques4a" />
                
                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques5" class="yesnoanswers" required="" requiredMessage="#{msgs.fiveFEV1sPostTrans}" value="#{controller.eligibilityForm.fiveFEV1sPostTrans}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="#{inclusionMinimumFive}" />
                </h:panelGrid>
                <p:message for="ques5" />
                
                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques5a" class="yesnoanswers" required="" requiredMessage="#{msgs.yesOrNoRequired}" value="#{controller.eligibilityForm.frequentLabBasedMonitoring}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="#{inclusionFrequentMonitoring}" />
                </h:panelGrid>
                <p:message for="ques5a" />
                
                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques5b" class="yesnoanswers" required="" requiredMessage="#{msgs.yesOrNoRequired}" value="#{controller.eligibilityForm.documentedClinicalAssessment}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="A documented clinical assessment including a physical assessment and CBC with WBC within two weeks prior to enrollment" />
                </h:panelGrid>
                <p:message for="ques5b" />
        </ui:define>
        
        <ui:define name="exclusionCriteria">
            <h:panelGrid columns="2" >
                    <h:selectOneRadio id="ques6" class="yesnoanswers" required="" requiredMessage="#{msgs.anotherTrial}" value="#{controller.eligibilityForm.anotherTrial}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Current participation in another clinical treatment trial with an investigational agent" />
                </h:panelGrid>
                <p:message for="ques6" />
                <h:panelGrid columns="2" >
                    <h:selectOneRadio id="ques7" class="yesnoanswers" required="" requiredMessage="#{msgs.interfereCondition}" value="#{controller.eligibilityForm.interfereCondition}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Any condition that may interfere with subject's ability to perform pulmonary function testing" />
                </h:panelGrid>
                <p:message for="ques7" />
                <h:panelGrid columns="2" >
                    <h:selectOneRadio id="ques8" class="yesnoanswers" required="" requiredMessage="#{msgs.knownAllergy}" value="#{controller.eligibilityForm.knownAllergy}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Known allergy or hypersensitivity to pharmacologic agents used during ECP" />
                </h:panelGrid>
                <p:message for="ques8" />
                <h:panelGrid columns="2" >
                    <h:selectOneRadio id="ques9" class="yesnoanswers" required="" requiredMessage="#{msgs.acuteCondition}" value="#{controller.eligibilityForm.acuteCondition}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="#{exclusionContraindication}" />
                </h:panelGrid>
                <p:message for="ques9" />
                <h:panelGrid columns="2" >
                    <h:selectOneRadio id="ques10" class="yesnoanswers" required="" requiredMessage="#{msgs.otherCondition}" value="#{controller.eligibilityForm.otherCondition}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="#{exclusionAdherence}" />
                </h:panelGrid>
                <p:message for="ques10" />
                <h:panelGrid columns="2" >
                    <h:selectOneRadio id="ques11" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{controller.eligibilityForm.aphakia}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Aphakia or absence of ocular lenses" />
                </h:panelGrid>
                <p:message for="ques11" />
                <h:panelGrid columns="2" >
                    <h:selectOneRadio id="ques12" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{controller.eligibilityForm.pregnancy}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Pregnancy (positive pregnancy test- a urine or blood pregnancy test must be obtained within two weeks prior to enrollment in women of childbearing potential)" />
                </h:panelGrid>
                <p:message for="ques12" />
                <h:panelGrid columns="2" >
                    <h:selectOneRadio id="ques13" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{controller.eligibilityForm.noInformedConsent}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Inability to provide informed consent or to comply with study treatments or assessments (e.g. due to cognitive impairment or geographic distance)" />
                </h:panelGrid>
                <p:message for="ques13" />
                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques14" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{controller.eligibilityForm.leukopenia3000}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Recent (i.e., within two weeks prior to enrollment) leukopenia (white blood cell count less than #{leukopeniaThreshold})" />
                </h:panelGrid>
                <p:message for="ques14" />
                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques15" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{controller.eligibilityForm.declineNotBOS}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Decline in lung function (FEV1) is related to either Restrictive CLAD or other causes that do not represent BOS such as pneumonia, heart failure, etc" />
                </h:panelGrid>
                <p:message for="ques15" />
                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques16" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{controller.eligibilityForm.recentFEV1below900}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Patient's most recent FEV1 is equal to or less than 900 mL" />
                </h:panelGrid>
                <p:message for="ques16" />
        </ui:define>
        
        <ui:define name="pulmonaryEvalInstructions">
            <div class="outputText-indented">
                1. Please enter all available FEV1 measurements for the patient collected in the past year.<br/><br/>
                2. Please enter the FEV1 values from the oldest date at the top to the newest date at the bottom.<br/><br/>
                3. Five or more FEV1 values must have been obtained within the six months prior to study enrollment and must be at least two weeks apart.<br/><br/>
                4. FEV1 values must have been obtained regularly for four months preceding enrollment, with no interval between FEV1 measurements exceeding eight weeks in this time period.<br/><br/>
                5. The most recent FEV1 must have been obtained within two weeks prior to enrollment and must be greater than 900 mL.<br/><br/>
                </div>
        </ui:define>
    </ui:composition>

</html>
