<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

    <ui:composition template="./template/enrollStudyArmEligFormTemplate.xhtml">
        <ui:define name="thirdPostTransBOSDiag">
            <div class="outputText-indented">
                    <h:outputText value="c. Third PFT assessment (if needed): " />
                </div>
                <div class="outputText-indentedTwice">
                    <h:outputText value="i. Date: " />
                    <p:calendar id="ques21di" class="calendar" requiredMessage="#{msgs.thirdPostTransBOSDiagFEV1Date}" value="#{calcController.studyArmEligibilityForm.thirdPostTransBOSDiagFEV1Date}" disabled="true" mode="popup" showOn="button" pattern="MM/dd/yyyy" navigator="true" size="10" converter="strictDateTimeConverter" />
                </div>
                <p:message for="ques21di" />
                
                <div class="outputText-indentedTwice">
                    <h:outputText value="ii. FEV1 (pre-bronchodilator): " />
                    <h:inputText id="ques21dii" requiredMessage="#{msgs.thirdPostTransBOSDiagFEV1}" value="#{calcController.studyArmEligibilityForm.thirdPostTransBOSDiagFEV1}" disabled="true" size="3" validatorMessage="Validation Error: FEV1 ranges between 0.2 and 6.0 liters">
                        <f:validateDoubleRange minimum="0.2" maximum="6.0"/>
                    </h:inputText>
                    liters
                </div>
                <p:message for="ques21dii" />
                
                <div class="outputText-indentedTwice">
                    <h:outputText value="iii. FVC (pre-bronchodilator): " />
                    <h:inputText id="ques21diii" requiredMessage="#{msgs.thirdPostTransBOSDiagFVC}" value="#{calcController.studyArmEligibilityForm.thirdPostTransBOSDiagFVC}" disabled="true" size="3" validatorMessage="Validation Error: FVC ranges between 0.4 and 6.5 liters">
                        <f:validateDoubleRange minimum="0.4" maximum="6.5"/>
                    </h:inputText>
                    liters
                </div>
                <p:message for="ques21diii" />
        </ui:define>
        
        <ui:define name="thirdRefractoryBOSDiag">
            <div class="outputText-indented">
                    <h:outputText value="c. Third PFT assessment (if needed): " />
                </div>
                <div class="outputText-indentedTwice">
                    <h:outputText value="i. Date: " />
                    <p:calendar id="ques22di" class="calendar" requiredMessage="#{msgs.thirdRefractoryBOSDiagFEV1Date}" value="#{calcController.studyArmEligibilityForm.thirdRefractoryBOSDiagFEV1Date}" disabled="true" mode="popup" showOn="button" pattern="MM/dd/yyyy" navigator="true" size="10" converter="strictDateTimeConverter" />
                </div>
                <p:message for="ques22di" />
                
                <div class="outputText-indentedTwice">
                    <h:outputText value="ii. FEV1 (pre-bronchodilator): " />
                    <h:inputText id="ques22dii" requiredMessage="#{msgs.thirdRefractoryBOSDiagFEV1}" value="#{calcController.studyArmEligibilityForm.thirdRefractoryBOSDiagFEV1}" disabled="true" size="3" validatorMessage="Validation Error: FEV1 ranges between 0.2 and 6.0 liters">
                        <f:validateDoubleRange minimum="0.2" maximum="6.0"/>
                    </h:inputText>
                    liters
                </div>
                <p:message for="ques22dii" />
                
                <div class="outputText-indentedTwice">
                    <h:outputText value="iii. FVC (pre-bronchodilator): " />
                    <h:inputText id="ques22diii" requiredMessage="#{msgs.thirdRefractoryBOSDiagFVC}" value="#{calcController.studyArmEligibilityForm.thirdRefractoryBOSDiagFVC}" disabled="true" size="3" validatorMessage="Validation Error: FVC ranges between 0.4 and 6.5 liters">
                        <f:validateDoubleRange minimum="0.4" maximum="6.5"/>
                    </h:inputText>
                    liters
                </div>
                <p:message for="ques22diii" />
        </ui:define>
        
        <ui:define name='inclusionCriteria'>
            <h:panelGrid columns="2" >
                <h:selectOneRadio id="ques1" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{calcController.enrollmentForm.age}" style="display: inline-table;">
                    <f:selectItem itemValue="true" itemLabel="YES"/>
                    <f:selectItem itemValue="false" itemLabel="NO" /> 
                </h:selectOneRadio>
                <h:outputLabel class="yesno-questions" value="Age 18 years or older" />
            </h:panelGrid>
            <p:message for="ques1" />
            <h:panelGrid columns="2" >
                <h:selectOneRadio id="ques2" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{calcController.enrollmentForm.medicare}" style="display: inline-table;">
                    <f:selectItem itemValue="true" itemLabel="YES"/>
                    <f:selectItem itemValue="false" itemLabel="NO" /> 
                </h:selectOneRadio>
                <h:outputLabel class="yesno-questions" value="Medicare-eligible (i.e. patients with both Part A and B) status" />
            </h:panelGrid>
            <p:message for="ques2" />
            <h:panelGrid columns="2">
                <h:selectOneRadio id="ques3" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{calcController.enrollmentForm.lungTransplant}" style="display: inline-table;">
                    <f:selectItem itemValue="true" itemLabel="YES"/>
                    <f:selectItem itemValue="false" itemLabel="NO" /> 
                </h:selectOneRadio>
                <h:outputLabel class="yesno-questions" value="Lung transplant recipient (combined organ transplant recipients, e.g. heart-lung or liver-lung recipients, are eligible)" />
            </h:panelGrid>
            <p:message for="ques3" />
            <h:panelGrid columns="2">
                <h:selectOneRadio id="ques4" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{calcController.enrollmentForm.progressiveBOS}" style="display: inline-table;">
                    <f:selectItem itemValue="true" itemLabel="YES"/>
                    <f:selectItem itemValue="false" itemLabel="NO" /> 
                </h:selectOneRadio>
                <h:outputLabel class="yesno-questions" value="Refractory BOS defined as ongoing decline in FEV1 despite at least one of the following treatments: azithromycin, high dose steroid, anti-thymocyte globulin, total lymphoid irradiation, sirolimus, or everolimus" />
            </h:panelGrid>
            <p:message for="ques4" />
            <h:panelGrid columns="2">
                <h:selectOneRadio id="ques5a" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{calcController.enrollmentForm.labBasedNewBOSDiagnosis}" style="display: inline-table;">
                    <f:selectItem itemValue="true" itemLabel="YES"/>
                    <f:selectItem itemValue="false" itemLabel="NO" /> 
                </h:selectOneRadio>
                <h:outputLabel class="yesno-questions" value="Patients with a diagnosis of BOS using at least two laboratory based FEV1 values obtained at least three weeks apart that are both at least 20% lower than baseline FEV1 using the ISHLT definition (the average of the two highest FEV1 measurements obtained at least three weeks apart after transplantation)" />
            </h:panelGrid>
            <p:message for="ques5a" />
            <h:panelGrid columns="2">
                <h:selectOneRadio id="ques5" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{calcController.enrollmentForm.fiveFEV1sPostTrans}" style="display: inline-table;">
                    <f:selectItem itemValue="true" itemLabel="YES"/>
                    <f:selectItem itemValue="false" itemLabel="NO" /> 
                </h:selectOneRadio>
                <h:outputLabel class="yesno-questions" value="At minimum five recorded FEV1 measurements obtained at intervals of at least two weeks apart over the six months preceding study enrollment, of which one FEV1 must be within two weeks prior to enrollment" />
            </h:panelGrid>
            <p:message for="ques5" />
            <h:panelGrid columns="2">
                <h:selectOneRadio id="ques5b" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{calcController.enrollmentForm.frequentLabBasedMonitoring}" style="display: inline-table;">
                    <f:selectItem itemValue="true" itemLabel="YES"/>
                    <f:selectItem itemValue="false" itemLabel="NO" /> 
                </h:selectOneRadio>
                <h:outputLabel class="yesno-questions" value="History of frequent spirometry monitoring, defined as having had regular FEV1 measurements during the preceding four months prior to enrollment with no time interval between FEV1 measurements that exceeds eight weeks" />
            </h:panelGrid>
            <p:message for="ques5b" />
            <h:panelGrid columns="2">
                <h:selectOneRadio id="ques5c" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{calcController.enrollmentForm.documentedClinicalAssessment}" style="display: inline-table;">
                    <f:selectItem itemValue="true" itemLabel="YES"/>
                    <f:selectItem itemValue="false" itemLabel="NO" /> 
                </h:selectOneRadio>
                <h:outputLabel class="yesno-questions" value="A documented clinical assessment including a physical assessment and CBC with WBC within two weeks prior to enrollment" />
            </h:panelGrid>
            <p:message for="ques5c" />
        </ui:define>

        <ui:define name='exclusionCriteria'>
            <h:panelGrid columns="2" >
                <h:selectOneRadio id="ques6" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{calcController.enrollmentForm.anotherTrial}" style="display: inline-table;">
                    <f:selectItem itemValue="true" itemLabel="YES"/>
                    <f:selectItem itemValue="false" itemLabel="NO" /> 
                </h:selectOneRadio>
                <h:outputLabel class="yesno-questions" value="Current participation in another clinical treatment trial with an investigational agent" />
            </h:panelGrid>
            <p:message for="ques6" />
            <h:panelGrid columns="2" >
                <h:selectOneRadio id="ques7" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{calcController.enrollmentForm.interfereCondition}" style="display: inline-table;">
                    <f:selectItem itemValue="true" itemLabel="YES"/>
                    <f:selectItem itemValue="false" itemLabel="NO" /> 
                </h:selectOneRadio>
                <h:outputLabel class="yesno-questions" value="Any condition that may interfere with subject's ability to perform pulmonary function testing" />
            </h:panelGrid>
            <p:message for="ques7" />
            <h:panelGrid columns="2" >
                <h:selectOneRadio id="ques8" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{calcController.enrollmentForm.knownAllergy}" style="display: inline-table;">
                    <f:selectItem itemValue="true" itemLabel="YES"/>
                    <f:selectItem itemValue="false" itemLabel="NO" /> 
                </h:selectOneRadio>
                <h:outputLabel class="yesno-questions" value="Known allergy or hypersensitivity to pharmacologic agents used during ECP" />
            </h:panelGrid>
            <p:message for="ques8" />
            <h:panelGrid columns="2" >
                <h:selectOneRadio id="ques9" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{calcController.enrollmentForm.acuteCondition}" style="display: inline-table;">
                    <f:selectItem itemValue="true" itemLabel="YES"/>
                    <f:selectItem itemValue="false" itemLabel="NO" /> 
                </h:selectOneRadio>
                <h:outputLabel class="yesno-questions" value="Any condition that would put the participant at an unacceptable risk for study-related complications as judged by the referring clinician. This may include a) patients with a specific acute contraindication to receiving ECP due to any acute condition such as new or evolving myocardial infarction or central nervous system disorder, hemodynamic instability or hypovolemia, acute bleeding, respiratory distress; b) lupus erythematosus, porphyria cutanea tarda, erythropoietic protoporphyria, variegate porphyria, xeroderma pigmentosum, albinism, or other dermatologic or ocular condition that contraindicates the use of methoxsalen or markedly enhances photosensitivity in the investigator's judgment" />
            </h:panelGrid>
            <p:message for="ques9" />
            <h:panelGrid columns="2" >
                <h:selectOneRadio id="ques10" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{calcController.enrollmentForm.otherCondition}" style="display: inline-table;">
                    <f:selectItem itemValue="true" itemLabel="YES"/>
                    <f:selectItem itemValue="false" itemLabel="NO" /> 
                </h:selectOneRadio>
                <h:outputLabel class="yesno-questions" value="Any condition that would significantly affect the participant's ability to adhere to the protocol or affect interpretation of the study results" />
            </h:panelGrid>
            <p:message for="ques10" />
            <h:panelGrid columns="2" >
                <h:selectOneRadio id="ques11" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{calcController.enrollmentForm.aphakia}" style="display: inline-table;">
                    <f:selectItem itemValue="true" itemLabel="YES"/>
                    <f:selectItem itemValue="false" itemLabel="NO" /> 
                </h:selectOneRadio>
                <h:outputLabel class="yesno-questions" value="Aphakia or absence of ocular lenses" />
            </h:panelGrid>
            <p:message for="ques11" />
            <h:panelGrid columns="2" >
                <h:selectOneRadio id="ques12" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{calcController.enrollmentForm.pregnancy}" style="display: inline-table;">
                    <f:selectItem itemValue="true" itemLabel="YES"/>
                    <f:selectItem itemValue="false" itemLabel="NO" /> 
                </h:selectOneRadio>
                <h:outputLabel class="yesno-questions" value="Pregnancy (positive pregancy test- a urine or blood pregnancy test must be obtained within two weeks prior to enrollment in women of childbearing potential)" />
            </h:panelGrid>
            <p:message for="ques12" />
            <h:panelGrid columns="2" >
                <h:selectOneRadio id="ques13" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{calcController.enrollmentForm.noInformedConsent}" style="display: inline-table;">
                    <f:selectItem itemValue="true" itemLabel="YES"/>
                    <f:selectItem itemValue="false" itemLabel="NO" /> 
                </h:selectOneRadio>
                <h:outputLabel class="yesno-questions" value="Inability to provide informed consent or to comply with study treatments or assessments (e.g. due to cognitive impairment or geographic distance)" />
            </h:panelGrid>
            <p:message for="ques13" />
            <h:panelGrid columns="2" >
                <h:selectOneRadio id="ques14" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{calcController.enrollmentForm.leukopenia3000}" style="display: inline-table;" >
                    <f:selectItem itemValue="true" itemLabel="YES"/>
                    <f:selectItem itemValue="false" itemLabel="NO" /> 
                </h:selectOneRadio>
                <h:outputLabel class="yesno-questions" value="Recent (i.e., within two weeks prior to enrollment) leukopenia (white blood cell count less than 3 K/cumm)" />
            </h:panelGrid>
            <p:message for="ques14" />
            <h:panelGrid columns="2" >
                <h:selectOneRadio id="ques15" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{calcController.enrollmentForm.declineNotBOS}" style="display: inline-table;" >
                    <f:selectItem itemValue="true" itemLabel="YES"/>
                    <f:selectItem itemValue="false" itemLabel="NO" /> 
                </h:selectOneRadio>
                <h:outputLabel class="yesno-questions" value="Decline in lung function (FEV1) is related to either Restrictive CLAD or other causes that do not represent BOS such as pneumonia, heart failure, etc" />
            </h:panelGrid>
            <p:message for="ques15" />
            <h:panelGrid columns="2" >
                <h:selectOneRadio id="ques16" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{calcController.enrollmentForm.recentFEV1below900}" style="display: inline-table;" >
                    <f:selectItem itemValue="true" itemLabel="YES"/>
                    <f:selectItem itemValue="false" itemLabel="NO" /> 
                </h:selectOneRadio>
                <h:outputLabel class="yesno-questions" value="Patient's most recent FEV1 is equal to or less than 900 mL" />
            </h:panelGrid>
            <p:message for="ques16" />
        </ui:define>
            
        <ui:define name='pulmEvalInstructions'>
            <div class="confelig-question">
                        SECTION E. PULMONARY EVALUATIONS<br/>
                        1. Please enter all available FEV1 measurements obtained in the past year.<br/>
                        2. Please enter the FEV1 measurements from the oldest date at the top to the newest date at the bottom.<br/>
                        3. At minimum five recorded FEV1 measurements at intervals of at least two weeks apart, over the six months preceding study enrollment.<br/>
                        4. History of frequent spirometry monitoring defined as having had regular FEV1 measurements during the preceding four months prior to enrollment with no time interval between FEV1 measurements that exceeds eight weeks.<br/>
                        5. The most recent FEV1 must be within two weeks prior to enrollment and must be greater than 900 mL.<br/>
            </div>
        </ui:define>
    </ui:composition>

</html>