<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<ui:composition template="/template/template.xhtml">
    <ui:define name="body">

        <h:form id="form">
            <h:outputStylesheet library="css" name="ecpregistry.css" />

            <div id="#{controller.style.header}">
                <h3>Extracorporeal Photopheresis (ECP) for the Management of Progressive Bronchiolitis Obliterans Syndrome (BOS) in Medicare-Eligible Recipients of Lung Allografts</h3>
                <h2>ECP Refractory BOS Enrollment Projection Report</h2>
            </div>

            <h:panelGrid id="ecpreportdate" columns="6">
                <h:outputLabel style="font-weight: bold;" value="Current Date: " />
                <h:outputText value="#{reportsController.currentDate}" style="padding-right: 30px;">
                    <f:convertDateTime pattern="MM-dd-yyyy"/>
                </h:outputText>
                <h:outputLabel style="font-weight: bold;" value="Select Run Year (yyyy) : "/>
                <p:selectOneMenu id="newDate" value="#{reportsController.projectionInputYear}" style="text-align: left; width: 40px;" size="12">
                    <f:selectItems value="#{reportsController.availableYears}" />
                </p:selectOneMenu>
                <h:outputLabel value="&nbsp;" style="padding-right: 30px;"/> <!-- spacer -->
                <h:commandButton value="Download Excel Report" action="#{reportsController.createGeorgeReport}" />
            </h:panelGrid>
            <h:outputText value = "#{reportsController.projectionOutcome}"></h:outputText>
            <br/>

        </h:form>
    </ui:define>
</ui:composition>

</html>