<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Key Contacts</title>
    </h:head>
    
    <ui:composition template="/template/template.xhtml">
        <ui:define name="body">
            <h:outputStylesheet library="css" name="ecpregistry.css" />

            <h1 class="keyContact-pageHeader"><font size="6">Key Contacts</font></h1>
            
            <table style="width: 1000px;">
                <col width="150"></col>
                <tr>
                    <td  class="keyContact-header">Senior Study Leadership</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="keyContact-title">Principal Investigator</td>
                </tr>
                <tr>
                    <td class="keyContact-name">George Despotis, MD</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Associate Professor of Pathology, Immunology, and Anesthesiology</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Department of Pathology and Immunology</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Washington University School of Medicine</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>St. Louis, MO</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Office Phone: (314)362-6586</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>email: gjdespotis@wustl.edu</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="keyContact-title">Lead Academic Investigator</td>
                </tr>
                <tr>
                    <td class="keyContact-name">Ramsey Hachem, MD</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Professor of Medicine, Pulmonary and Critical Care Medicine</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Department of Internal Medicine</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Washington University School of Medicine</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>St. Louis, MO</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Office Phone: (314)454-8766</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>email: rhachem@wustl.edu</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="keyContact-title">Biostatistician</td>
                </tr>
                <tr>
                    <td class="keyContact-name">Edward Spitznagel, PhD</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Professor of Mathematics: Joint Appointment in Biostatistics</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Department of Mathematics</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Washington University in St. Louis</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>St. Louis, MO</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>email: ed@wustl.edu</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="keyContact-title">ARO Director, CCC</td>
                </tr>
                <tr>
                    <td class="keyContact-name">Suresh Vedantham, MD</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Professor of Radiology and Surgery</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Mallinckrodt Institute of Radiology</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Washington University School of Medicine</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>St. Louis, MO</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>email: vedanthams@wustl.edu</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
<!--                <tr>
                    <td class="keyContact-title">ARO Co-Director, DCC</td>
                </tr>
                <tr>
                    <td class="keyContact-name">Pred Prior, PhD</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Professor of Radiology</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Mallinckrodt Institute of Radiology</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Washington University School of Medicine</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>St. Louis, MO</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Office Phone: (314)747-0331</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>email: priorf@mir.wustl.edu</td>
                </tr>
-->
             </table>
            
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            
            <span class="keyContact-header">Clinical Coordinating Center (CCC)</span>

            <p style="font-size: medium;">
                The Clinical Coordinating Center (CCC), a component of the Washington University ARO, is the primary coordination <br/>
                and communication hub for the study and will monitor and support the activities at the clinical centers. Communication <br/>
                to the CCC can be directed to the address and contacts listed below.<br/>
            </p>
            <table style="width: 1000px;">
                <col width="150"></col>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>ECP Trial Clinical Coordinating Center</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Mallinckrodt Institute of Radiology</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Washington University School of Medicine</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>510 South Kingshighway Boulevard MSC 8131-43-1220</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>St. Louis, MO  63110</td>
                </tr>
            </table>
            
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            

            <table style="width: 1000px;">
                <col width="150"></col>
                <col width="150"></col>
                <tr>
                    <td  class="keyContact-title">Director, Clinical Coordinating Center</td>
                    <td  class="keyContact-title">Contact Information</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="keyContact-name">Suresh Vedantham, MD</td>
                    <td class="keyContact-font-align">&nbsp;</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Professor of Radiology and Surgery</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Mallinckrodt Institute of Radiology</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Washington University School of Medicine</td>
                    <td>vedanthams@wustl.edu</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td  class="keyContact-title">CCC Staff Members and Contact Information</td>
                    <td  class="keyContact-title">Responsible Areas</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="keyContact-name">Mary Clare Derfler, RN, MSN</td>
                    <td class="keyContact-font-align">Study protocol questions</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Clinical Research Nurse Specialist</td>
                    <td>Serious adverse event reporting</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Phone: (314)747-2372</td>
                    <td>Clinicals issue with study patients</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>email: derflerm@wustl.edu</td>
                    <td>Patient eligibility questions</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="keyContact-font-align">Technical Coordinator</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td></td>
                    <td>Help Desk</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td></td>
                    <td>Case Report Form (CRF) Questions</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td></td>
                    <td>CRF Verification Questions</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="keyContact-name">Kathy Twichell</td>
                    <td class="keyContact-font-align">Clinical center start-up</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Senior Clinical Research Coordinator</td>
                    <td>Regulatory documents</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Phone: (314)747-1653</td>
                    <td>Data submission questions</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>email: ktwichell@wustl.edu</td>
                    <td>Updates to contact information</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="keyContact-font-align">Technical Coordinator</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td></td>
                    <td>Help Desk</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td></td>
                    <td>Case Report Form (CRF) Questions</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td></td>
                    <td>CRF Verification Questions</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td></td>
                    <td>ECP Website Navigation</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td colspan="2" class="keyContact-header">Technical Support</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td  class="keyContact-title">Technical Support Staff and Contact Information</td>
                    <td  class="keyContact-title">Responsible Areas</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="keyContact-name">Paul K. Commean</td>
                    <td class="keyContact-font-align">Website Issues</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>System Administrator</td>
                    <td>Usernames/Passwords</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>email: commeanp@wustl.edu</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="keyContact-name">Lauren Wallace</td>
                    <td class="keyContact-font-align">Website Issues</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>System Administrator</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>email: laurenwallace@wustl.edu</td>
                    <td>&nbsp;</td>
                </tr>
                                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="keyContact-name">Mary Wolfsberger</td>
                    <td class="keyContact-font-align">

                    </td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Clinical Research Coordinator II</td>
                    <td>CRF (PFT &amp; QOL)</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>email: mwolfsberger@wustl.edu</td>
                    <td>Verification Questions<br/>
                        Data Submission Questions<br/>
                        ECP Website Navigation
                    </td>
                </tr>
             </table>
            
            <div>&nbsp;</div>
            <div>&nbsp;</div>
        </ui:define>
    </ui:composition>

</html>