<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" >
    <head>
        <title>Login: ECP Trial Registry</title>
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body>
        <h2>ECP Refractory BOS Site Resources Login</h2>
        <h:form id="login">
            <h:panelGrid columns="3">
                <h:outputLabel for="username" value="Username:" />
                <h:inputText id="username" required="true" />
                <h:message for="username" />

                <h:outputLabel for="password" value="Password" />
                <h:inputSecret id="password" required="true" />
                <h:message for="password" />

                <h:outputLabel for="rememberMe" value="Remember Me" />
                <h:selectBooleanCheckbox id="rememberMe" />
                <h:panelGroup />

                <h:panelGroup />
                <h:commandButton value="Login" />
                <h:panelGroup styleClass="error" rendered="#{not facesContext.validationFailed}">
                    #{shiroLoginFailure}
                </h:panelGroup>
            </h:panelGrid>
        </h:form>
    </body>
</html>
