<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:composition template="/template/template.xhtml">
        <ui:define name="body">
            
            <h:form id="form">
            <h:outputStylesheet library="css" name="ecpregistry.css" />
            
            <div id="#{controller.style.header}">
                <h3>Extracorporeal Photopheresis (ECP) for the Management of Progressive Bronchiolitis Obliterans Syndrome (BOS) in Medicare-Eligible Recipients of Lung Allografts</h3>
                <h2>ECP Refractory BOS Monthly Accrual Reports</h2>
           </div>

            <div id="ecpreportdate">
                <div>
                    <p></p>
                    <b style="font-size: medium">Report Date: </b>
                    <h:outputText value="#{reportsController.currentDate}" style="font-size: medium">
                        <f:convertDateTime pattern="MM-dd-yyyy"/>
                    </h:outputText>
                </div>

                <div class="clear"></div> <!-- The clear style is needed to reset the floating column element in css so that other elements don't line up with the last column. --> 
            </div>
            <br/>
            
            <h:panelGroup id="section1" rendered="true">          
                <div class="sectionFirstHeading" style="padding-top: 20px;">
                   Total Monthly Accrual By Site for the ECP Treatment Arm and Observation Arm (Initial Enrollment Only).
                    <br/>
                    <br/>
                    Please enable editing in the Excel spreadsheet to view the yearly totals after downloading the report.
                </div>
                <div style="padding-top: 20px;">
                    <h:commandButton value="Download Excel Report" action="#{reportsController.monthlyAccrualDownload}"/>
                    <h:outputText value = "#{reportsController.monthlyAccrualOutcome}"></h:outputText>
                </div>
                <h:outputLabel value="&nbsp;" style="padding-right: 30px;"/> <!-- spacer -->

                <!-- Primefaces DYNAMIC COLUMN code to create an html table with varying numbers of columns is presented below. -->
            <!-- To display this monthlyAccrualReport.xhtml webpage, the "Monthly Accrual Report" sub-menu item under the "ECP Reports" main menu is selected in the template.xhtml code. -->
            <!-- The sub-menu item calls the ReportsController action method: MonthlyAccrualReportAction().  The getAccrualBySiteByMonthReportItems() method in the action method is used to create the columnNames and dataModelEcpTreatmentArm. -->
            <!-- The dataModelEcpTreatmentArm contains each 'row' of data to be displayed in a hashMap<String, Object> format, where the String is the columnName and the Object is the column/row datu. -->
                <p:dataTable id="resultTableEcpTreatmentArm" value="#{reportsController.dataModelEcpTreatmentArm}" var="row" rendered="true" rowIndexVar="rowIndex" resizableColumns="true" rowStyleClass="#{(rowIndex mod 2) eq 0 ? 'monthlyrow1' : 'monthlyrow2'}" >
                    <!-- The columnNames are used to create the table header with the variable 'column', and for pointing to each column in a row to display the datum in each column. -->
                    <p:columns value="#{reportsController.columnNames}" var="column" sortBy="#{row[column]}" width="35">
                        <f:facet name="header">
                            <h:outputText value="#{column}" />
                        </f:facet>
                        <h:outputText value="#{row[column]}" />
                    </p:columns>
                </p:dataTable>

            </h:panelGroup>
            <p></p>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
