<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:composition template="./formTemplate.xhtml">
        <ui:define name="form_title">
            
            <h:outputStylesheet library="css" name="ecpregistry.css" />
            
            <div id="#{controller.style.header}">
                <h3>Extracorporeal Photopheresis (ECP) for the Management of Progressive Bronchiolitis Obliterans Syndrome (BOS) in Medicare-Eligible Recipients of Lung Allografts</h3>
                <h2>V4&amp;5 PARTICIPANT FOLLOW-UP  - Case Report Form (CRF)</h2>
            </div>
            <div>
                <h2>Please include the following types of source documents:</h2>
                <div>
                <b>1. ECP Report or Procedure Note</b><br/>
                <b>2. Clinic Note, Hospice Report, Autopsy Report, and/or Death Summary</b><br/>
                <br/>
                <b>DIRECTIONS: Please de-identify source documentation. ECP Treatment source documents may be scanned together into one PDF or scanned separately by date.<br/>
                   &nbsp;&nbsp;&nbsp;&nbsp;a. Add the Date to the list below.<br/>
                   &nbsp;&nbsp;&nbsp;&nbsp;b. Click the SAVE Button.<br/>
                   &nbsp;&nbsp;&nbsp;&nbsp;c. Upload the Source.
                </b>
                </div>
            </div>

        </ui:define>
       
        <ui:define name="form_content">
            <div id="crfcenterparticipantidsdate">
                <div>
                <b>Date of Participant Follow Up: </b>
                <p:calendar id="participantFollowUpDate" class="calendar" value="#{controller.participantFollowUpForm.participantFollowUpDate}" requiredMessage="#{msgs.participantFollowUpDate}" disabled="#{controller.participantFollowUpForm.locked}" mode="popup" showOn="button" showButtonPanel="false" pattern="MM/dd/yyyy" navigator="true" size="10" converter="strictDateTimeConverter">
                    <f:validateRequired disabled="{!param['VALIDATE']}" /> <!-- The value for the param variable VALIDATE is determined in the formTemplate.xhtml file under c:if test -->
                </p:calendar>                
                </div>
            </div>
            <p:message for="participantFollowUpDate" />
            <br/>
            
            <div>
                <div class="question-inputText">
                    <h:panelGrid columns="2" >
                        <h:outputLabel class="question-inputText" value="1. Did the participant receive maintenance ECP Treatments following the initial 24 Treatments and prior to the end of Year One? " />
                        <h:selectOneRadio id="ques1" class="yesnoanswers" requiredMessage="#{msgs.participantFollowUpReceivingECPTx}" value="#{controller.participantFollowUpForm.participantFollowUpReceivingECPTx}" disabled="#{controller.participantFollowUpForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                    </h:panelGrid>
                </div>
                <p:message for="ques1" />
                <div class="question-inputText">
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;If Yes, these ECP Treatments are entered on a separate CRF.</b><br/>
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;a. Click the "Add New Event" Button on the Participant Summary Page.</b><br/>
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;b. Select ECP Treatment from the Pop-Up Box and CLICK SUBMIT.</b>
                </div>

                <div class="question-inputText">
                    <h:panelGrid columns="2" >
                        <h:outputLabel class="question-inputText" value="2. Did the participant receive maintenance ECP Treatments after Year One (one year after the first ECP Treatment)? " />
                        <h:selectOneRadio id="ques2" class="yesnoanswers" requiredMessage="#{msgs.participantFollowUpReceivingECPTx}" value="#{controller.participantFollowUpForm.participantFollowUpReceivingFurtherECPTx}" disabled="#{controller.participantFollowUpForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                    </h:panelGrid>
                </div>
                <p:message for="ques1" />
                
                <div class="question-inputText">
                    <b>3. Please list the dates of ALL ECP Treatments following Year One.</b><br/>
                    <b>CLICK the SAVE button then upload source documents.</b>
                </div>
                
                <c:forEach var="txDate" items="${controller.participantFollowUpForm.followUpTxDates}" varStatus="status">
                    <div class="question-inputText">
                        ${status.index + 1}. <p:calendar id="participantFollowUpECPTxDate${status.index}" class="calendar" value="#{txDate}" disabled="#{controller.participantFollowUpForm.locked}" mode="popup" showOn="button" pattern="MM/dd/yyyy" navigator="true" size="10"  converter="strictDateTimeConverter" />
                    </div>
                </c:forEach>
                <div class="question-inputText">
                    <h:commandButton value="More Treatment Dates" action="#{controller.participantFollowUpForm.moreTxDatesAction}" />
                </div>

                <h:panelGroup rendered="#{controller.renderVerificationPanel('participantFollowUpECPTxDate1')}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Q3: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="ques3" value="#{controller.participantFollowUpForm.participantFollowUpECPTxDate1VerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.participantFollowUpForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.participantFollowUpForm.participantFollowUpECPTxDate1DccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>
                
                <div class="question-inputText">
                    <h:panelGrid columns="2" >
                        <h:outputLabel class="question-inputText" value="4. Were PFTs obtained after Year One? " />
                        <h:selectOneRadio id="ques4" class="yesnoanswers" requiredMessage="#{msgs.participantFollowUpReceivingECPTx}" value="#{controller.participantFollowUpForm.participantFollowUpReceivingPFTs}" disabled="#{controller.participantFollowUpForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                    </h:panelGrid>
                </div>
                <p:message for="ques3" />
                <div class="question-inputText">
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;If yes, these PFTs are entered on separate CRFs.</b><br/>
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;Include PFTs collected at facilities other than the enrolling site.</b><br/>
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;a. Click the "Add New Event" Button on the Participant Summary Page.</b><br/>
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;b. Select Pulmonary Evaluation from the Pop-Up Box and CLICK SUBMIT.</b>
                </div>
                
                <div class="question-inputText">
                    <h:panelGrid columns="2" >
                        <h:outputLabel class="question-inputText" value="5. Is the patient alive? " />
                        <h:selectOneRadio id="patientAlive" class="yesnoanswers" requiredMessage="Please enter patient status." value="#{controller.participantFollowUpForm.participantAlive}" disabled="#{controller.participantFollowUpForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                            <f:ajax execute="@this" render="ifExpired"/>
                        </h:selectOneRadio>
                    </h:panelGrid>
                </div>
                <p:message for="patientAlive" />
                
                <h:panelGroup id="ifExpired">
                <div class="question-inputText">
                    <b>6. If Expired:</b>
                      <h:panelGrid columns="2" >
                        <h:outputLabel class="question-inputText" value="&nbsp;&nbsp;a. Date of Death: " />
                        <p:calendar id="participantFollowUpDateDeath" required="#{controller.participantFollowUpForm.participantAlive != 'true'}" requiredMessage="Please enter date of death." class="calendar" value="#{controller.participantFollowUpForm.participantFollowUpDateDeath}" disabled="#{controller.participantFollowUpForm.participantAlive != 'false' || controller.participantFollowUpForm.locked}" mode="popup" showOn="button" pattern="MM/dd/yyyy" navigator="true" size="10"  converter="strictDateTimeConverter" />
                    </h:panelGrid>
                    <div class="question-multipleRadioButton" >
                        <h:outputLabel class="question-inputText" value="b. Cause of Death: " /><br/>
                        <h:selectOneRadio id="ques6" class="question-multipleRadioButton" requiredMessage="Please enter cause of death." required="#{controller.participantFollowUpForm.participantAlive != 'true'}" value="#{controller.participantFollowUpForm.participantFollowUpCauseDeath}" disabled="#{controller.participantFollowUpForm.participantAlive != 'false' || controller.participantFollowUpForm.locked}" style="display: inline-table;" layout="pageDirection">
                            <f:selectItem itemValue="worseningBOS" itemLabel="Worsening BOS"/>
                            <f:selectItem itemValue="acuteRespiratoryFailure" itemLabel="Acute Respiratory Failure" /> 
                            <f:selectItem itemValue="chronicRespiratoryFailure" itemLabel="Chronic Respiratory Failure" /> 
                            <f:selectItem itemValue="other" itemLabel="Other (Describe Below)" />
                        </h:selectOneRadio>
                    </div>
                    <div class="question-inputText">
                        <h:outputLabel class="question-inputText" value="Other cause of death: " />
                        <h:inputTextarea value="#{controller.participantFollowUpForm.participantFollowUpOtherCauseDeath}" rows="1" cols="50" rendered="true" disabled="#{controller.participantFollowUpForm.participantAlive != 'false' || controller.participantFollowUpForm.locked}" /> 
                    </div>
                </div>
                <p:message for="participantFollowUpDateDeath" />
                <p:message for="ques6" />
                </h:panelGroup>

            </div>
            
        </ui:define>
    </ui:composition>

</html>
