<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    
    <ui:composition template="/template/template.xhtml">
        <ui:define name="body">

            <!--
            <h:panelGrid rendered="#{controller.participantFollowUpForm}">
                <h1 style="font-size:24px;">Finalize </h1>
                <p style="width: 750px; font-size:14px; font-weight: 900;">
                    <h2>Cross Over Determination Results:  This patient remains in the Observation Arm.  
                        This patient may not be crossed over because you have indicated that he/she has 
                        a contraindication to ECP.  Please contact your CCC nurse coordinator if you have questions.</h2>
                </p>
            </h:panelGrid>
            -->
            
            <h:panelGrid>
                <h1 style="font-size:24px;">V4&amp;5 Participant Follow Up CRF</h1>
                <p style="width: 750px; font-size:14px; font-weight: 900;">
                    <h2>Reminder! This CRF is utilized to enter ALL ECP Treatment dates after Year 1 and to confirm if the patient is alive or deceased.<br/>
                        Is this the <b>final</b> maintenance ECP Treatment for this participant?<br/>
                        Are ALL questions answered?<br/><br/>
                        
                        If YES, Click Submit. <span style="color:red;">Warning! This CRF cannot be edited once submitted.</span><br/>
                        If NO, Click Return to V4&amp;5 Participant Follow-Up CRF.</h2>
                </p>
            </h:panelGrid>
            
            <h:form >
                <h:panelGrid columns="2" rendered="true">
                    <h:commandButton value="Return to V4&amp;5 Participant Follow Up CRF" action="#{controller.returnToParticipantFollowUpFormAction()}" />
                    <h:commandButton value="Submit" action="#{controller.finalizeParticipantFollowUpFormAction()}" />
                </h:panelGrid>
            </h:form>

        </ui:define>
    </ui:composition>
    
</html>
