<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./formTemplate.xhtml">
        <ui:define name="form_title">
            
            <h:outputStylesheet library="css" name="ecpregistry.css" />
            
            <div id="#{controller.style.header}">
                <h3>Extracorporeal Photopheresis (ECP) for the Management of Progressive Bronchiolitis Obliterans Syndrome (BOS) in Medicare-Eligible Recipients of Lung Allografts</h3>
                <h2>PI APPROVED - Case Report Form (CRF)</h2>
            </div>
            <div>
                <h2>Please include the following types of source documents:</h2>
                <div>
                <b>1. Signed PI Approved CRF (if applicable)</b>
                </div>
            </div>

        </ui:define>
       
        <ui:define name="form_content">
            <div id="crfcenterparticipantidsdate">
                <div>
                <b>Date of Review: </b>
                <p:calendar id="reviewDate" class="calendar" value="#{controller.piApprovedForm.reviewedDate}" requiredMessage="Please enter date reviewed." disabled="#{controller.piApprovedForm.locked}" mode="popup" showOn="button" showButtonPanel="false" pattern="MM/dd/yyyy" navigator="true" size="10" converter="strictDateTimeConverter">
                    <f:validateRequired disabled="#{!param['VALIDATE']}" />  <!-- The value for the param variable VALIDATE is determined in the formTemplate.xhtml file under c:if test -->
                </p:calendar>                
                </div>
            </div>
            <p:message for="reviewDate" />
            <br/>
            
            <!-- Uncomment this to create the PDF version -->
            <div class="confelig-question">
                PARTICIPANT _______________
            </div>
            <!--<div class="confelig-question">
                PARTICIPANT #{controller.selectedParticipant.participantID}
            </div>-->
            <div class="question-radioButton">
                <h:panelGrid columns="2">
                    <h:outputLabel value="CRF" />
                    <h:outputLabel value="Approve" />
                    
                    <h:outputLabel value="Confirmation of Eligibility" rendered="#{controller.approvableEventTypes.contains('ELIGIBILITY') || controller.piApprovedForm.COEReviewed == true}" />
                    <h:selectBooleanCheckbox id="coeCheckbox" value="#{controller.piApprovedForm.COEReviewed}" disabled="#{controller.piApprovedForm.commentLocked}" rendered="#{controller.approvableEventTypes.contains('ELIGIBILITY') || controller.piApprovedForm.COEReviewed == true}" />
                    
                    <h:outputLabel value="Demographics/Medical History" rendered="#{controller.approvableEventTypes.contains('DEMOGRAPHICS') || controller.piApprovedForm.DMHReviewed == true}" />
                    <h:selectBooleanCheckbox id="dmhCheckbox" value="#{controller.piApprovedForm.DMHReviewed}" disabled="#{controller.piApprovedForm.commentLocked}" rendered="#{controller.approvableEventTypes.contains('DEMOGRAPHICS') || controller.piApprovedForm.DMHReviewed == true}" />
                    
                    <h:outputLabel value="Baseline Therapy" rendered="#{controller.approvableEventTypes.contains('BASELINE_THERAPY') || controller.piApprovedForm.BTReviewed == true}" />
                    <h:selectBooleanCheckbox id="btCheckbox" value="#{controller.piApprovedForm.BTReviewed}" disabled="#{controller.piApprovedForm.commentLocked}" rendered="#{controller.approvableEventTypes.contains('BASELINE_THERAPY') || controller.piApprovedForm.BTReviewed == true}" />
                    
                    <h:outputLabel value="Change in Therapy" rendered="#{controller.approvableEventTypes.contains('CHANGE_THERAPY') || controller.piApprovedForm.CITReviewed == true}" />
                    <h:selectBooleanCheckbox id="citCheckbox" value="#{controller.piApprovedForm.CITReviewed}" disabled="#{controller.piApprovedForm.commentLocked}" rendered="#{controller.approvableEventTypes.contains('CHANGE_THERAPY') || controller.piApprovedForm.CITReviewed == true}" />

                    <h:outputLabel value="Current Therapy" rendered="#{controller.approvableEventTypes.contains('CURRENT_THERAPY') || controller.piApprovedForm.CTReviewed == true}" />
                    <h:selectBooleanCheckbox id="ctCheckbox" value="#{controller.piApprovedForm.CTReviewed}" disabled="#{controller.piApprovedForm.commentLocked}" rendered="#{controller.approvableEventTypes.contains('CURRENT_THERAPY') || controller.piApprovedForm.CTReviewed == true}" />

                    <h:outputLabel value="ECP Treatment" rendered="#{controller.approvableEventTypes.contains('ECP_TREATMENT') || controller.piApprovedForm.ECPReviewed == true}" />
                    <h:selectBooleanCheckbox id="ecpCheckbox" value="#{controller.piApprovedForm.ECPReviewed}" disabled="#{controller.piApprovedForm.commentLocked}" rendered="#{controller.approvableEventTypes.contains('ECP_TREATMENT') || controller.piApprovedForm.ECPReviewed == true}" />

                    <h:outputLabel value="Pulmonary Evaluation" rendered="#{controller.approvableEventTypes.contains('PULMONARY_EVAL') || controller.piApprovedForm.PEReviewed == true}" />
                    <h:selectBooleanCheckbox id="peCheckbox" value="#{controller.piApprovedForm.PEReviewed}" disabled="#{controller.piApprovedForm.commentLocked}" rendered="#{controller.approvableEventTypes.contains('PULMONARY_EVAL') || controller.piApprovedForm.PEReviewed == true}" />

                    <h:outputLabel value="Crossover Safety Check" rendered="#{controller.approvableEventTypes.contains('CROSSOVER_SAFETY_CHECK') || controller.piApprovedForm.CSCReviewed == true}" />
                    <h:selectBooleanCheckbox id="cscCheckbox" value="#{controller.piApprovedForm.CSCReviewed}" disabled="#{controller.piApprovedForm.commentLocked}" rendered="#{controller.approvableEventTypes.contains('CROSSOVER_SAFETY_CHECK') || controller.piApprovedForm.CSCReviewed == true}" />

                    <h:outputLabel value="Annual Follow-Up" rendered="#{controller.approvableEventTypes.contains('ANNUAL_FOLLOW_UP') || controller.piApprovedForm.AFUReviewed == true}" />
                    <h:selectBooleanCheckbox id="afuCheckbox" value="#{controller.piApprovedForm.AFUReviewed}" disabled="#{controller.piApprovedForm.commentLocked}" rendered="#{controller.approvableEventTypes.contains('ANNUAL_FOLLOW_UP') || controller.piApprovedForm.AFUReviewed == true}" />

                    <h:outputLabel value="V4&amp;5 Participant Follow-Up" rendered="#{controller.approvableEventTypes.contains('PARTICIPANT_FOLLOW_UP') || controller.piApprovedForm.PFUReviewed == true}" />
                    <h:selectBooleanCheckbox id="pfuCheckbox" value="#{controller.piApprovedForm.PFUReviewed}" disabled="#{controller.piApprovedForm.commentLocked}" rendered="#{controller.approvableEventTypes.contains('PARTICIPANT_FOLLOW_UP') || controller.piApprovedForm.PFUReviewed == true}" />
                    
                    <h:outputLabel value="Serious Adverse Event" rendered="#{controller.approvableEventTypes.contains('SERIOUS_ADVERSE_EVENT') || controller.piApprovedForm.SAEReviewed == true}" />
                    <h:selectBooleanCheckbox id="saeCheckbox" value="#{controller.piApprovedForm.SAEReviewed}" disabled="#{controller.piApprovedForm.commentLocked}"  rendered="#{controller.approvableEventTypes.contains('SERIOUS_ADVERSE_EVENT') || controller.piApprovedForm.SAEReviewed == true}" />

                    <h:outputLabel value="Quality of Life" rendered="#{controller.approvableEventTypes.contains('QUALITY_OF_LIFE') || controller.piApprovedForm.QOLReviewed == true}" />
                    <h:selectBooleanCheckbox id="qolCheckbox" value="#{controller.piApprovedForm.QOLReviewed}" disabled="#{controller.piApprovedForm.commentLocked}" rendered="#{controller.approvableEventTypes.contains('QUALITY_OF_LIFE') || controller.piApprovedForm.QOLReviewed == true}" />

                    <h:outputLabel value="End of Study" rendered="#{controller.approvableEventTypes.contains('END_OF_STUDY') || controller.piApprovedForm.EOSReviewed == true}" />
                    <h:selectBooleanCheckbox id="eosCheckbox" value="#{controller.piApprovedForm.EOSReviewed}" disabled="#{controller.piApprovedForm.commentLocked}" rendered="#{controller.approvableEventTypes.contains('END_OF_STUDY') || controller.piApprovedForm.EOSReviewed == true}" />
                    
                </h:panelGrid>
            </div>

            <div class="question-radioButton">
                <b>Comments: </b>
                <h:inputTextarea value="#{controller.piApprovedForm.comment}" rows="2" cols="80" disabled="#{controller.piApprovedForm.commentLocked}" style="margin-left: 17px;"/>
            </div>
            <div class="confelig-question">
                INVESTIGATOR ATTESTATION
            </div>
            <p style="width: 750px; margin-left: 25px;">I have reviewed all verified case report forms for this participant and confirm the data is accurate.</p>
            
            <div class="question-radioButton">
                <b>Investigator Signature: </b>
                <h:inputText value="#{controller.piApprovedForm.PISignature}" disabled="#{controller.piApprovedForm.commentLocked}"/>
            </div>
        </ui:define>
    </ui:composition>

</html>
