<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:composition template="./template/qualityOfLifeFormTemplate.xhtml">
        <ui:define name="redcap">
            <f:selectItem itemValue="redcap" itemLabel="REDCap" />
        </ui:define>
        
        <ui:define name="email">
            <f:selectItem itemValue="email" itemLabel="Email" />
        </ui:define>
    </ui:composition>
</html>