<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <ui:composition template="/template/template.xhtml">
        <ui:define name="body">
            
            <h:panelGrid columns="3">
                <h:link value="All-Sites Summary > " outcome="/index.xhtml" rendered="#{securityManager.canViewAllSites()}"/>
                <h:outputText value="Site Summary - Refractory BOS (rBOS)" />
            </h:panelGrid>

            <h3>Site Summary - rBOS</h3>
            
            <h:form>

                <h:outputText  value="Site Name - ID: #{controller.selectedSite.name} - #{controller.selectedSite.siteID}" /> <br/><br/>
                <h:panelGroup rendered="#{securityManager.canViewOwnSite() || securityManager.canViewAllSites()}">
                    
                <p:tabView activeIndex="#{controller.activeIndex}" style="border: transparent; background-color: #dddddd; border-color: transparent;">
                    <p:tab title="Basic View">
                        <div id="oldtable">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="header-class">Participant ID</th>
                                        <th class="header-class">Enrolled Date</th>
                                        <th class="header-class">rBOS Study Arm</th>
                                        <th class="header-class">Status</th>
                                        <ui:repeat value="#{controller.eventStatus}" var="estatus" >
                                            <th class="header-class">#{estatus.name}</th>
                                        </ui:repeat>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ui:repeat value="#{controller.participants}" var="participant" varStatus="rowStatus">
                                        <h:panelGroup rendered="#{rowStatus.odd}" >
                                            <tr class="odd-row">
                                                <td><h:outputText value="#{participant.participantID}" /></td>
                                                <td><h:outputText value="#{participant.enrolledDate}" > <f:convertDateTime type='date' pattern="MM-dd-yyyy"/> </h:outputText></td>
                                                <td><h:outputText value="#{participant.studyArmStatus.name}" /></td>
                                                <td><h:outputText value="#{participant.status}" /></td>
                                                <ui:repeat value="#{controller.eventStatus}" var="estatus" >
                                                    <td style="text-align: center"><h:outputText value="#{controller.getEventCount(participant, estatus)}" /></td>
                                                </ui:repeat>
                                                <td>
                                                    <h:commandButton value="View" action="#{controller.viewParticipantAction(participant)}"/>
                                                </td>
                                            </tr>
                                        </h:panelGroup>
                                        <h:panelGroup rendered="${rowStatus.even}" >
                                            <tr class="even-row">
                                                <td><h:outputText value="#{participant.participantID}" /></td>
                                                <td><h:outputText value="#{participant.enrolledDate}" > <f:convertDateTime type='date' pattern="MM-dd-yyyy"/> </h:outputText></td>
                                                <td><h:outputText value="#{participant.studyArmStatus.name}" /></td>
                                                <td><h:outputText value="#{participant.status}" /></td>
                                                <ui:repeat value="#{controller.eventStatus}" var="estatus" >
                                                    <td style="text-align: center"><h:outputText value="#{controller.getEventCount(participant, estatus)}" /></td>
                                                </ui:repeat>
                                                <td>
                                                    <h:commandButton value="View" action="#{controller.viewParticipantAction(participant)}"/>
                                                </td>
                                            </tr>
                                        </h:panelGroup>
                                    </ui:repeat>
                                </tbody>
                            </table>
                        </div>    
                    </p:tab>
                    
                    <p:tab title="Advanced View">
                        <div id="newtable">
                            <p:dataTable var="participant" value="#{controller.participants}" tableStyle="width:auto" widgetVar="participantsTable">
                                <p:column headerText="Participant ID" filterBy="#{participant.participantID}" filterMatchMode="contains" sortBy="#{participant.participantID}">
                                    <h:commandLink value="#{participant.participantID}" action="#{controller.viewParticipantAction(participant)}" />
                                </p:column>

                                <p:column headerText="Enrolled Date" sortBy="#{controller.parsedDate(participant.enrolledDate)}" sortFunction="#{controller.sortByDate}" filterBy="#{controller.parsedDate(participant.enrolledDate)}" filterMatchMode="contains">
                                    <h:outputText value="#{controller.parsedDate(participant.enrolledDate)}"/>                                                    
                                </p:column>

                                <p:column headerText="Study Arm" sortBy="#{participant.studyArmStatus.name}" filterBy="#{participant.studyArmStatus.name}" filterMatchMode="exact">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('participantsTable').filter()" styleClass="custom-filter">
                                            <f:selectItem itemLabel="Select One" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItems value="#{controller.studyArmTypes}" />
                                        </p:selectOneMenu>
                                    </f:facet>
                                    <h:outputText value="#{participant.studyArmStatus.name}" />
                                </p:column>

                                <p:column headerText="Status" sortBy="#{participant.status}">
                                    <h:outputText value="#{participant.status}" />
                                </p:column>

                                <p:column headerText="New" sortBy="#{controller.getEventCount(participant, controller.newStatus)}">
                                    <h:outputText style="text-align: center;" value="#{controller.getEventCount(participant, controller.newStatus)}" />
                                </p:column>
                                
                                <p:column headerText="Started" sortBy="#{controller.getEventCount(participant, controller.started)}">
                                    <h:outputText style="text-align: center;" value="#{controller.getEventCount(participant, controller.started)}" />
                                </p:column>

                                <p:column headerText="Submitted" sortBy="#{controller.getEventCount(participant, controller.submitted)}">
                                    <h:outputText style="text-align: center;" value="#{controller.getEventCount(participant, controller.submitted)}" />
                                </p:column>

                                <p:column headerText="CRF Query" sortBy="#{controller.getEventCount(participant, controller.crfquery)}">
                                    <h:outputText style="text-align: center;" value="#{controller.getEventCount(participant, controller.crfquery)}" />
                                </p:column>

                                <p:column headerText="DCC Verified" sortBy="#{controller.getEventCount(participant, controller.dccverified)}">
                                    <h:outputText style="text-align: center;" value="#{controller.getEventCount(participant, controller.dccverified)}" />
                                </p:column>

                                <p:column headerText="PI Approved" sortBy="#{controller.getEventCount(participant, controller.piapproved)}">
                                    <h:outputText style="text-align: center;" value="#{controller.getEventCount(participant, controller.piapproved)}" />
                                </p:column>

                                <p:column headerText="Not Required" sortBy="#{controller.getEventCount(participant, controller.notrequired)}">
                                    <h:outputText style="text-align: center;" value="#{controller.getEventCount(participant, controller.notrequired)}" />
                                </p:column>
                                
                                <p:column headerText="Not Applicable" sortBy="#{controller.getEventCount(participant, controller.notapplicable)}">
                                    <h:outputText style="text-align: center;" value="#{controller.getEventCount(participant, controller.notapplicable)}" />
                                </p:column>
                                
                                <p:column headerText="Missed Visit" sortBy="#{controller.getEventCount(participant, controller.missedvisit)}">
                                    <h:outputText style="text-align: center;" value="#{controller.getEventCount(participant, controller.missedvisit)}" />
                                </p:column>

                            </p:dataTable>
                            <p:remoteCommand autoRun="true" oncomplete="PF('participantsTable').filter();" />
                        </div> 
                    </p:tab>

                </p:tabView>  
                            
                </h:panelGroup>
                
                <h:panelGrid rendered="#{!securityManager.canViewOwnSite() and !securityManager.canViewAllSites()}">
                    Error: User does not have permission to view site data for this study.
                </h:panelGrid>
                
<!--                <h:commandButton value="Add Participant" action="$????????{controller.addParticipantAction()}" /> Get rid of question marks to make it run again -->
            </h:form>
        </ui:define>
    </ui:composition>
    
</html>
