<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<ui:composition template="/template/template.xhtml">
    <ui:define name="body">

        <h:form id="form">
            <h:outputStylesheet library="css" name="ecpregistry.css" />

            <div id="#{controller.style.header}">
                <h3>Extracorporeal Photopheresis (ECP) for the Management of Progressive Bronchiolitis Obliterans Syndrome (BOS) in Medicare-Eligible Recipients of Lung Allografts</h3>
                <h2>ECP Refractory BOS Therakos Report</h2>
            </div>

            <div id="ecpreportdate" style="display: -webkit-box">
                <div><b style="font-size: medium">Run Date (Current Date): </b>
                    <h:outputText value="#{reportsController.currentDate}" style="font-size: medium;padding-right: 30px">
                        <f:convertDateTime pattern="MM-dd-yyyy"/>
                    </h:outputText>
                </div>
                <div>
                    <b style="font-size: medium">Select New Run Date (MM-dd-yyyy): </b>
                    <p:inputText id="newDate" value="#{reportsController.inputDate}" style="padding-right: 10px" size="8">
                        <f:convertDateTime pattern="MM-dd-yyyy"/>
                    </p:inputText>
                    <h:commandButton value="Reload Report"></h:commandButton>
                </div>
                <div class="clear"></div> <!-- The clear style is needed to reset the floating column element in css so that other elements don't line up with the last column. -->
            </div>
            <br/>

                <p:panelGrid id="report" styleClass="enrollmentGrid">
                    <p:row>
                        <p:column colspan="7" style="background-color:#bdd7ee">
                            RBOS:  #{reportsController.fetchECPNotTreated(reportsController.inputDate) + reportsController.fetchECPTreated(reportsController.inputDate) + reportsController.fetchObsTreated(reportsController.inputDate) + reportsController.fetchObsNotTreated(reportsController.inputDate) + reportsController.fetchObsNoCrossover(reportsController.inputDate)}
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="3" style="background-color:#f1f1f1">
                            ECP: #{reportsController.fetchECPNotTreated(reportsController.inputDate) + reportsController.fetchECPTreated(reportsController.inputDate)}
                        </p:column>
                        <p:column colspan="4" style="background-color:#f1f1f1">
                            Observation: #{reportsController.fetchObsTreated(reportsController.inputDate) + reportsController.fetchObsNotTreated(reportsController.inputDate) + reportsController.fetchObsNoCrossover(reportsController.inputDate)}
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column rowspan="2" style="background-color:#f3af81">
                            Not Treated: #{reportsController.fetchECPNotTreated(reportsController.inputDate)}
                        </p:column>

                        <p:column rowspan="2">

                        </p:column>

                        <p:column rowspan="2" style="background-color:#c3dfb3">
                            Treated:  #{reportsController.fetchECPTreated(reportsController.inputDate)}
                        </p:column>

                        <p:column colspan="3" style="background-color:#f1f1f1">
                            Crossover:  #{reportsController.fetchObsTreated(reportsController.inputDate) + reportsController.fetchObsNotTreated(reportsController.inputDate)}
                        </p:column>
                        <p:column rowspan="2" colspan="1" style="background-color:#f1f1f1">
                            No Crossover:  #{reportsController.fetchObsNoCrossover(reportsController.inputDate)}
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column style="background-color:#c3dfb3">
                            Treated:  #{reportsController.fetchObsTreated(reportsController.inputDate)}
                        </p:column>

                        <p:column>

                        </p:column>

                        <p:column style="background-color:#f3af81">
                            Not Treated:  #{reportsController.fetchObsNotTreated(reportsController.inputDate)}
                        </p:column>
                    </p:row>
                </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>

</html>
